openapi: 3.2.0
info:
  title: SpringServe UI API (V0) Parameter Lists API
  version: 0.1.0
  description: "> **_NOTE:_** This document covers the v0 API (`/api/v0`). You can find additional documentation on the v0 API (`/api/v0`) on the \n[Magnite Help Center](https://help.magnite.com/), which is broken into sections for endpoints relevant to \n[SpringServe](https://help.magnite.com/help/api-documentation) and [Clearline](https://help.magnite.com/help/api-documentation-06dd4d3). \nYou can also find V1 swagger documentation by selecting ‘SpringServe API V1’ from the dropdown at the top right corner \nof this page. Please note we are in the process of creating V1 endpoints for all existing V0 endpoints, but while that work \nis in progress not all endpoints will be supported on V1. We advise reviewing both swagger pages to determine what \nis supported in each version.\n\n# Authentication\nWhen using this API documentation server, by default it will authenticate API calls using cookie-based authentication agains the selected server.  If you are properly logged into the SpringServe server and your session is still active, then the API calls should automatically authenticate.  \n\nOutside of this API documentation server you should use either Token Based or Bearer authentication.  You may also these authentication methods on this server as well,\n which will take precedence over any cookie/session based authentication.\n### Token Based Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to generate an API token that is then passed in the `Authorization: <token>` header\n\n### Bearer Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to authenticate and get a bearer token that is then passed in the `Authorization: Bearer <token>` header\n\n# Active Account Context\nA given request always runs in the context of currently active account for the authenticated user making\nthe request. The active account can be determined via the [GET /api/v0/accounts/current](#/Accounts/accounts_current_get)\nendpoint and updated via [POST /api/v0/accounts/{id}/set_current](#/Accounts/accounts_id_set_current_post).\nThe active account can also be overridden for an authenticated request by passing the `x-auth-context` header.\n\n# V0 List Resource Functionality\nV0 list endpoints support pagination via the `page` (first page is page 1) and `per` (how many results\nper page) query parameters. Some endpoints also support filtering by `ids[]` (repeated query param, e.g. ids[]=1&ids[]=2).\n"
servers:
- url: https://console.springserve.com/api/v0
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v0
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
security:
- api_key: []
- bearer_token: []
tags:
- name: Parameter Lists
paths:
  /api/v0/parameter_lists:
    get:
      summary: Index
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Parameter Lists
      operationId: parameter_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              parameter_list_create_simple:
                $ref: '#/components/examples/parameter_list_create_simple'
              parameter_list_create_full:
                $ref: '#/components/examples/parameter_list_create_full'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Parameter Lists
      operationId: parameter_lists_post
  /api/v0/parameter_lists/{id}:
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Parameter Lists
      operationId: parameter_lists_id_get
    put:
      summary: Update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              parameter_list_update_simple:
                $ref: '#/components/examples/parameter_list_update_simple'
              parameter_list_update_full:
                $ref: '#/components/examples/parameter_list_update_full'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Parameter Lists
      operationId: parameter_lists_id_put
    delete:
      summary: Destroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Parameter Lists
      operationId: parameter_lists_id_delete
  /api/v0/parameter_lists/{parameter_list_id}/values:
    get:
      summary: Index
      parameters:
      - name: parameter_list_id
        in: path
        required: true
        schema:
          type: string
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Parameter Lists
      operationId: parameter_lists_parameter_list_id_values_get
  /api/v0/parameter_lists/{parameter_list_id}/values/bulk_create:
    post:
      summary: Bulk Create
      parameters:
      - name: parameter_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              parameter_list_values_bulk_single:
                $ref: '#/components/examples/parameter_list_values_bulk_single'
              parameter_list_values_bulk_multiple:
                $ref: '#/components/examples/parameter_list_values_bulk_multiple'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Parameter Lists
      operationId: parameter_lists_parameter_list_id_values_bulk_create_post
  /api/v0/parameter_lists/{parameter_list_id}/values/bulk_delete:
    delete:
      summary: Bulk Delete
      parameters:
      - name: parameter_list_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Parameter Lists
      operationId: parameter_lists_parameter_list_id_values_bulk_delete_delete
  /api/v0/parameter_lists/{parameter_list_id}/values/bulk_replace:
    post:
      summary: Bulk Replace
      parameters:
      - name: parameter_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              parameter_list_values_bulk_single:
                $ref: '#/components/examples/parameter_list_values_bulk_single'
              parameter_list_values_bulk_multiple:
                $ref: '#/components/examples/parameter_list_values_bulk_multiple'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Parameter Lists
      operationId: parameter_lists_parameter_list_id_values_bulk_replace_post
  /api/v0/parameter_lists/{parameter_list_id}/values/file_bulk_create:
    post:
      summary: File Bulk Create
      description: Append parameter list values from a CSV file
      parameters:
      - name: parameter_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - csv_file
              properties:
                csv_file:
                  type: string
                  format: binary
                  description: CSV file containing key-value pairs to append
        required: true
      responses:
        '201':
          description: Append confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                created: true
      tags:
      - Parameter Lists
      operationId: parameter_lists_parameter_list_id_values_file_bulk_create_post
  /api/v0/parameter_lists/{parameter_list_id}/values/file_bulk_delete:
    delete:
      summary: File Bulk Delete
      description: Remove parameter list values specified in a CSV file
      parameters:
      - name: parameter_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - csv_file
              properties:
                csv_file:
                  type: string
                  format: binary
                  description: CSV file containing key-value pairs to remove
      responses:
        '200':
          description: Deletion confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                deleted: true
      tags:
      - Parameter Lists
      operationId: parameter_lists_parameter_list_id_values_file_bulk_delete_delete
  /api/v0/parameter_lists/{parameter_list_id}/values/file_bulk_replace:
    post:
      summary: File Bulk Replace
      description: Replace all parameter list values with contents of a CSV file
      parameters:
      - name: parameter_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - csv_file
              properties:
                csv_file:
                  type: string
                  format: binary
                  description: CSV file containing key-value pairs to replace existing list
        required: true
      responses:
        '200':
          description: Replacement confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                created: true
      tags:
      - Parameter Lists
      operationId: parameter_lists_parameter_list_id_values_file_bulk_replace_post
components:
  examples:
    parameter_list_values_bulk_single:
      summary: Single
      value:
        values:
        - value_one
    parameter_list_create_simple:
      summary: Simple
      value:
        name: Parameter List Name
        macro_param: '{{CONTENT_ID}}'
    parameter_list_create_full:
      summary: Full
      value:
        name: Parameter List Name
        macro_param: '{{CONTENT_ID}}'
        description: Parameter list description
        active: true
    parameter_list_update_simple:
      summary: Simple
      value:
        name: Parameter List Name
    parameter_list_update_full:
      summary: Full
      value:
        name: Parameter List Name
        description: Updated description
        active: true
    parameter_list_values_bulk_multiple:
      summary: Multiple
      value:
        values:
        - value_one
        - value_two
        - value_three
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: SpringServe authorization token based authentication.
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SpringServe authorization bearer token based authentication.  This key is included in the response from the /api/v0/auth and /api/v1/auth endpoints.  This key will be automatically set if you run the example for /api/v0/auth or /api/v1/auth
x-servers-added-by: https://apievangelist.com — not present in the upstream document; see openapi/_original/ for the verbatim spec.
