openapi: 3.2.0
info:
  title: SpringServe UI API (V0) Ip Lists API
  version: 0.1.0
  description: "> **_NOTE:_** This document covers the v0 API (`/api/v0`). You can find additional documentation on the v0 API (`/api/v0`) on the \n[Magnite Help Center](https://help.magnite.com/), which is broken into sections for endpoints relevant to \n[SpringServe](https://help.magnite.com/help/api-documentation) and [Clearline](https://help.magnite.com/help/api-documentation-06dd4d3). \nYou can also find V1 swagger documentation by selecting ‘SpringServe API V1’ from the dropdown at the top right corner \nof this page. Please note we are in the process of creating V1 endpoints for all existing V0 endpoints, but while that work \nis in progress not all endpoints will be supported on V1. We advise reviewing both swagger pages to determine what \nis supported in each version.\n\n# Authentication\nWhen using this API documentation server, by default it will authenticate API calls using cookie-based authentication agains the selected server.  If you are properly logged into the SpringServe server and your session is still active, then the API calls should automatically authenticate.  \n\nOutside of this API documentation server you should use either Token Based or Bearer authentication.  You may also these authentication methods on this server as well,\n which will take precedence over any cookie/session based authentication.\n### Token Based Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to generate an API token that is then passed in the `Authorization: <token>` header\n\n### Bearer Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to authenticate and get a bearer token that is then passed in the `Authorization: Bearer <token>` header\n\n# Active Account Context\nA given request always runs in the context of currently active account for the authenticated user making\nthe request. The active account can be determined via the [GET /api/v0/accounts/current](#/Accounts/accounts_current_get)\nendpoint and updated via [POST /api/v0/accounts/{id}/set_current](#/Accounts/accounts_id_set_current_post).\nThe active account can also be overridden for an authenticated request by passing the `x-auth-context` header.\n\n# V0 List Resource Functionality\nV0 list endpoints support pagination via the `page` (first page is page 1) and `per` (how many results\nper page) query parameters. Some endpoints also support filtering by `ids[]` (repeated query param, e.g. ids[]=1&ids[]=2).\n"
servers:
- url: https://console.springserve.com/api/v0
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v0
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
security:
- api_key: []
- bearer_token: []
tags:
- name: Ip Lists
paths:
  /api/v0/ip_lists:
    get:
      summary: Index
      description: List all IP address lists. Supports pagination via page, per, and ids params.
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of IP address lists
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Ip Lists
      operationId: ip_lists_get
    post:
      summary: Create
      description: Creating an IP Address List
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                $ref: '#/components/examples/ip_list_create_simple'
              full:
                $ref: '#/components/examples/ip_list_create_full'
        required: true
      responses:
        '201':
          description: Created IP address list
          content:
            application/json:
              schema:
                type: object
              example:
                id: 6
                account_id: 1
                name: My IP List
                description: My description
                active: true
                created_at: '2018-08-08T21:06:09.923Z'
      tags:
      - Ip Lists
      operationId: ip_lists_post
  /api/v0/ip_lists/{id}:
    get:
      summary: Show
      description: Get an IP Address List
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: IP address list details
          content:
            application/json:
              schema:
                type: object
              example:
                id: 6
                account_id: 1
                name: My IP List
                description: My description
                active: true
                created_at: '2018-08-08T17:19:44.516Z'
      tags:
      - Ip Lists
      operationId: ip_lists_id_get
    put:
      summary: Update
      description: Update an IP address list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                $ref: '#/components/examples/ip_list_update_simple'
              full:
                $ref: '#/components/examples/ip_list_update_full'
        required: true
      responses:
        '200':
          description: Updated IP address list
          content:
            application/json:
              schema:
                type: object
              example:
                id: 6
                account_id: 1
                name: My IP List
                description: My description
                active: true
                created_at: '2018-08-08T17:19:44.516Z'
      tags:
      - Ip Lists
      operationId: ip_lists_id_put
    delete:
      summary: Destroy
      description: Delete an IP address list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Ip Lists
      operationId: ip_lists_id_delete
  /api/v0/ip_lists/{ip_list_id}/ips:
    get:
      summary: Index
      description: Get IP Addresses in an IP Address List
      parameters:
      - name: ip_list_id
        in: path
        required: true
        schema:
          type: string
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of IP addresses
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
              example:
              - ip: 158.106.194.74
              - ip: 158.106.194.75
      tags:
      - Ip Lists
      operationId: ip_lists_ip_list_id_ips_get
  /api/v0/ip_lists/{ip_list_id}/ips/bulk_create:
    post:
      summary: Bulk Create
      description: Add IPs to an Address list
      parameters:
      - name: ip_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              single:
                $ref: '#/components/examples/ip_list_ips_bulk_create_single'
              multiple:
                $ref: '#/components/examples/ip_list_ips_bulk_create_multiple'
        required: true
      responses:
        '201':
          description: Created IPs
          content:
            application/json:
              schema:
                type: object
              example:
                created: true
      tags:
      - Ip Lists
      operationId: ip_lists_ip_list_id_ips_bulk_create_post
  /api/v0/ip_lists/{ip_list_id}/ips/bulk_delete:
    delete:
      summary: Bulk Delete
      description: Remove specific IP Addresses
      parameters:
      - name: ip_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example:
              ips:
              - 158.106.194.74
      responses:
        '200':
          description: Deleted IPs
          content:
            application/json:
              schema:
                type: object
              example:
                deleted: true
      tags:
      - Ip Lists
      operationId: ip_lists_ip_list_id_ips_bulk_delete_delete
  /api/v0/ip_lists/{ip_list_id}/ips/bulk_replace:
    post:
      summary: Bulk Replace
      description: Replace Entire IP Address List
      parameters:
      - name: ip_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              single:
                $ref: '#/components/examples/ip_list_ips_bulk_replace_single'
              multiple:
                $ref: '#/components/examples/ip_list_ips_bulk_replace_multiple'
        required: true
      responses:
        '200':
          description: Replaced IP addresses
          content:
            application/json:
              schema:
                type: object
              example:
                created: true
      tags:
      - Ip Lists
      operationId: ip_lists_ip_list_id_ips_bulk_replace_post
  /api/v0/ip_lists/{ip_list_id}/ips/file_bulk_create:
    post:
      summary: File Bulk Create
      description: Add IPs to an Address list from a File
      parameters:
      - name: ip_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - csv_file
              properties:
                csv_file:
                  type: string
                  format: binary
                  description: CSV file containing IP addresses to append
        required: true
      responses:
        '201':
          description: Append confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                created: true
      tags:
      - Ip Lists
      operationId: ip_lists_ip_list_id_ips_file_bulk_create_post
  /api/v0/ip_lists/{ip_list_id}/ips/file_bulk_delete:
    delete:
      summary: File Bulk Delete
      description: Remove IP Addresses using a File
      parameters:
      - name: ip_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - csv_file
              properties:
                csv_file:
                  type: string
                  format: binary
                  description: CSV file containing IP addresses to remove
      responses:
        '200':
          description: Deletion confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                deleted: true
      tags:
      - Ip Lists
      operationId: ip_lists_ip_list_id_ips_file_bulk_delete_delete
  /api/v0/ip_lists/{ip_list_id}/ips/file_bulk_replace:
    post:
      summary: File Bulk Replace
      description: Replace Entire IP List with File
      parameters:
      - name: ip_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - csv_file
              properties:
                csv_file:
                  type: string
                  format: binary
                  description: CSV file containing IP addresses to replace existing list
        required: true
      responses:
        '200':
          description: Replacement confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                created: true
      tags:
      - Ip Lists
      operationId: ip_lists_ip_list_id_ips_file_bulk_replace_post
components:
  examples:
    ip_list_ips_bulk_replace_single:
      summary: Single
      value:
        ips:
        - 1.1.11.1
    ip_list_update_full:
      summary: Full
      value:
        name: IP List Name
        description: IP list description
        active: true
    ip_list_ips_bulk_create_single:
      summary: Single
      value:
        ips:
        - 158.106.194.74
    ip_list_create_full:
      summary: Full
      value:
        name: IP List Name
        description: IP list description
        active: true
    ip_list_create_simple:
      summary: Simple
      value:
        name: IP List Name
    ip_list_ips_bulk_replace_multiple:
      summary: Multiple
      value:
        ips:
        - 1.1.11.1
        - 1.0.11.1
        - 192.168.1.1
    ip_list_ips_bulk_create_multiple:
      summary: Multiple
      value:
        ips:
        - 158.106.194.74
        - 158.106.194.75
        - 10.0.0.1
    ip_list_update_simple:
      summary: Simple
      value:
        name: IP List Name
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: SpringServe authorization token based authentication.
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SpringServe authorization bearer token based authentication.  This key is included in the response from the /api/v0/auth and /api/v1/auth endpoints.  This key will be automatically set if you run the example for /api/v0/auth or /api/v1/auth
x-servers-added-by: https://apievangelist.com — not present in the upstream document; see openapi/_original/ for the verbatim spec.
