openapi: 3.2.0
info:
  title: SpringServe UI API (V0) Supply Partners API
  version: 0.1.0
  description: "> **_NOTE:_** This document covers the v0 API (`/api/v0`). You can find additional documentation on the v0 API (`/api/v0`) on the \n[Magnite Help Center](https://help.magnite.com/), which is broken into sections for endpoints relevant to \n[SpringServe](https://help.magnite.com/help/api-documentation) and [Clearline](https://help.magnite.com/help/api-documentation-06dd4d3). \nYou can also find V1 swagger documentation by selecting ‘SpringServe API V1’ from the dropdown at the top right corner \nof this page. Please note we are in the process of creating V1 endpoints for all existing V0 endpoints, but while that work \nis in progress not all endpoints will be supported on V1. We advise reviewing both swagger pages to determine what \nis supported in each version.\n\n# Authentication\nWhen using this API documentation server, by default it will authenticate API calls using cookie-based authentication agains the selected server.  If you are properly logged into the SpringServe server and your session is still active, then the API calls should automatically authenticate.  \n\nOutside of this API documentation server you should use either Token Based or Bearer authentication.  You may also these authentication methods on this server as well,\n which will take precedence over any cookie/session based authentication.\n### Token Based Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to generate an API token that is then passed in the `Authorization: <token>` header\n\n### Bearer Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to authenticate and get a bearer token that is then passed in the `Authorization: Bearer <token>` header\n\n# Active Account Context\nA given request always runs in the context of currently active account for the authenticated user making\nthe request. The active account can be determined via the [GET /api/v0/accounts/current](#/Accounts/accounts_current_get)\nendpoint and updated via [POST /api/v0/accounts/{id}/set_current](#/Accounts/accounts_id_set_current_post).\nThe active account can also be overridden for an authenticated request by passing the `x-auth-context` header.\n\n# V0 List Resource Functionality\nV0 list endpoints support pagination via the `page` (first page is page 1) and `per` (how many results\nper page) query parameters. Some endpoints also support filtering by `ids[]` (repeated query param, e.g. ids[]=1&ids[]=2).\n"
servers:
- url: https://console.springserve.com/api/v0
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v0
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
security:
- api_key: []
- bearer_token: []
tags:
- name: Supply Partners
paths:
  /api/v0/supply_partners:
    get:
      summary: Index
      description: List all supply partners. Supports pagination via page, per, and ids params.
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of supply partners
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Supply Partners
      operationId: supply_partners_get
    post:
      summary: Create
      description: Creating a Supply Partner
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                $ref: '#/components/examples/supply_partner_create_simple'
              full:
                $ref: '#/components/examples/supply_partner_create_full'
        required: true
      responses:
        '201':
          description: Created supply partner
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                direct_connect: true
                id: 1764
                name: API Docs partner
                optimization_active_default: true
                optimization_custom_defaults: true
                optimization_settings_default:
                  lookback_minutes: '30'
                  metric: Request Fill
                  minimum_requests: '100'
      tags:
      - Supply Partners
      operationId: supply_partners_post
  /api/v0/supply_partners/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      description: Get a Supply Partner
      responses:
        '200':
          description: Supply partner details
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                direct_connect: true
                id: 1764
                name: API Docs partner
                optimization_active_default: true
                optimization_custom_defaults: true
                optimization_settings_default:
                  lookback_minutes: '30'
                  metric: Request Fill
                  minimum_requests: '100'
      tags:
      - Supply Partners
      operationId: supply_partners_id_get
    put:
      summary: Update
      description: Edit a Supply Partner
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                $ref: '#/components/examples/supply_partner_update_simple'
              full:
                $ref: '#/components/examples/supply_partner_update_full'
      responses:
        '200':
          description: Updated supply partner
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                direct_connect: true
                id: 1764
                name: I want to change the name
                optimization_active_default: true
                optimization_custom_defaults: true
                optimization_settings_default:
                  lookback_minutes: '30'
                  metric: Request Fill
                  minimum_requests: '100'
      tags:
      - Supply Partners
      operationId: supply_partners_id_put
    delete:
      summary: Destroy
      description: Delete a supply partner
      responses:
        '204':
          description: No content
      tags:
      - Supply Partners
      operationId: supply_partners_id_delete
components:
  examples:
    supply_partner_create_simple:
      summary: Simple
      value:
        name: Supply Partner Name
        optimization_active_default: true
    supply_partner_update_simple:
      summary: Simple
      value:
        name: Supply Partner Name
    supply_partner_create_full:
      summary: Full
      value:
        name: Supply Partner Name
        optimization_active_default: true
        optimization_custom_defaults: false
        optimization_settings_default:
          metric: Request Fill
          lookback_minutes: '30'
        default_open_market_tier: 1
        supply_allocation_default: 1
        tiles_response_type: default
        code: '1'
        fire_nurl_upstream_enabled: false
        wrap_tracking_pixels: false
        ssb_return_bid_price: false
        iris_tv_active: false
        nielsen_dar_active: false
        tag_pixels:
        - pixel_type: AdImpression
          pixel_format: image
          pixel_url: https://pixel.example.com/imp
        audited_creative_statuses: []
        targeting_geo_profile:
          country_white_list: true
          country_source: list
          country_list_ids:
          - 1
        targeting_page_attribute_profile:
          domain_white_list: true
          domain_list_ids:
          - 1
          segment_targeting_enabled: false
    supply_partner_update_full:
      summary: Full
      value:
        name: Supply Partner Name
        optimization_active_default: true
        optimization_custom_defaults: false
        optimization_settings_default:
          metric: Request Fill
          lookback_minutes: '30'
        default_open_market_tier: 1
        tiles_response_type: default
        fire_nurl_upstream_enabled: false
        wrap_tracking_pixels: false
        ssb_return_bid_price: false
        tag_pixels:
        - pixel_type: AdImpression
          pixel_format: image
          pixel_url: https://pixel.example.com/imp
        audited_creative_statuses: []
        targeting_geo_profile:
          country_white_list: true
          country_source: list
          country_list_ids:
          - 1
        targeting_page_attribute_profile:
          domain_white_list: true
          domain_list_ids:
          - 1
          segment_targeting_enabled: false
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: SpringServe authorization token based authentication.
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SpringServe authorization bearer token based authentication.  This key is included in the response from the /api/v0/auth and /api/v1/auth endpoints.  This key will be automatically set if you run the example for /api/v0/auth or /api/v1/auth
x-servers-added-by: https://apievangelist.com — not present in the upstream document; see openapi/_original/ for the verbatim spec.
