openapi: 3.2.0
info:
  title: Rubicon Project City Lists API
  version: '1.0'
  description: 'Operations tagged City Lists across 2 of this provider''s published API definitions: rubicon-project-springserve-v0-openapi.yml, rubicon-project-springserve-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://console.springserve.com/api/v0
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v0
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
- url: https://console.springserve.com/api/v1
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v1
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
security:
- api_key: []
- bearer_token: []
tags:
- name: City Lists
paths:
  /api/v0/city_lists:
    get:
      summary: Index
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - City Lists
      operationId: city_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              city_list_create_simple:
                $ref: '#/components/examples/city_list_create_simple'
              city_list_create_full:
                $ref: '#/components/examples/city_list_create_full'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_post
    servers:
    - url: https://console.springserve.com/api/v0
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v0
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v0/city_lists/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_id_get
    put:
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              city_list_update_simple:
                $ref: '#/components/examples/city_list_update_simple'
              city_list_update_full:
                $ref: '#/components/examples/city_list_update_full'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_id_put
    delete:
      summary: Destroy
      responses:
        '204':
          description: No content
      tags:
      - City Lists
      operationId: city_lists_id_delete
    servers:
    - url: https://console.springserve.com/api/v0
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v0
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/city_lists:
    get:
      summary: Index
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/sortParam
      - $ref: ref/params.yaml#/components/parameters/searchParam
      - $ref: ref/params.yaml#/components/parameters/filterParams
      - $ref: ref/params.yaml#/components/parameters/includeParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CityListCreateRequest'
              - type: object
                properties:
                  city_codes:
                    type: array
                    items:
                      type: number
                    examples:
                    - - 2988507
                      - 2643743
                required:
                - city_codes
            examples:
              city_list_create_simple:
                $ref: '#/components/examples/city_list_create_simple'
              city_list_create_full:
                $ref: '#/components/examples/city_list_create_full'
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/CityListCreateRequest'
              - type: object
                properties:
                  csv_file:
                    type: string
                    format: binary
                required:
                - csv_file
      responses:
        '201':
          description: Successfully created City List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityListResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityListErrorResponse'
      tags:
      - City Lists
      operationId: city_lists_post
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/city_lists/{id}:
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_id_get
    patch:
      summary: Update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CityListUpdateRequest'
              - type: object
                properties:
                  city_codes:
                    type: array
                    items:
                      type: number
                    description: List of city codes. Can be used only when list_action parameter is provided.
                    examples:
                    - - 2988507
                      - 2643743
            examples:
              city_list_update_simple:
                $ref: '#/components/examples/city_list_update_simple'
              city_list_update_full:
                $ref: '#/components/examples/city_list_update_full_2'
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/CityListUpdateRequest'
              - type: object
                properties:
                  csv_file:
                    type: string
                    format: binary
                    x-accept: text/csv
                    description: CSV file with city codes. Can be used only when the list_action parameter is provided.
      responses:
        '200':
          description: Updated City List successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityListResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityListErrorResponse'
      tags:
      - City Lists
      operationId: city_lists_id_patch
    delete:
      summary: Delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - City Lists
      operationId: city_lists_id_delete
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/city_lists/permissions:
    get:
      summary: Collection Permissions
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_permissions_get
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/city_lists/{id}/permissions:
    get:
      summary: Permissions Member
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_id_permissions_get
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
components:
  examples:
    city_list_update_full:
      summary: Full
      value:
        name: City List Name
        description: City List Description
        active: true
        city_codes:
        - 2988507
        - 2643743
    city_list_create_full:
      summary: Full
      value:
        name: City List Name
        description: City List Description
        active: true
        city_codes:
        - 2988507
        - 2643743
    city_list_create_simple:
      summary: Simple
      value:
        name: City List Name
        city_codes:
        - 2988507
        - 2643743
    city_list_update_simple:
      summary: Simple
      value:
        name: City List Name
    city_list_update_full_2:
      summary: Full
      value:
        name: City List Name
        description: City List Description
        active: true
        city_codes:
        - 2988507
        - 2643743
        list_action: append
  schemas:
    CityListErrorResponse:
      type: object
      properties:
        status:
          type: integer
        error:
          type: string
      examples:
      - error: City codes can't be blank
        errors:
          city_codes:
          - can't be blank
    CityListResponse:
      type: object
      properties:
        id:
          type: integer
        account_id:
          type: integer
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        city_codes:
          type: array
          items:
            type: integer
    CityListCreateRequest:
      type: object
      properties:
        name:
          type: string
          examples:
          - City List Name
        description:
          type: string
          examples:
          - City List Description
        active:
          type: boolean
          examples:
          - true
      required:
      - name
    CityListUpdateRequest:
      type: object
      properties:
        name:
          type: string
          examples:
          - Update City List Name
        description:
          type: string
          examples:
          - Update City List Description
        active:
          type: boolean
          examples:
          - true
        list_action:
          type: string
          enum:
          - append
          - replace
          - remove
          examples:
          - append
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: SpringServe authorization token based authentication.
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SpringServe authorization bearer token based authentication.  This key is included in the response from the /api/v0/auth and /api/v1/auth endpoints.  This key will be automatically set if you run the example for /api/v0/auth or /api/v1/auth
x-refined-from:
- rubicon-project-springserve-v0-openapi.yml
- rubicon-project-springserve-v1-openapi.yml
x-servers-added-by: https://apievangelist.com — not present in the upstream document; see openapi/_original/ for the verbatim spec.
