openapi: 3.2.0
info:
  title: SpringServe UI API (V0) Bid Maps API
  version: 0.1.0
  description: "> **_NOTE:_** This document covers the v0 API (`/api/v0`). You can find additional documentation on the v0 API (`/api/v0`) on the \n[Magnite Help Center](https://help.magnite.com/), which is broken into sections for endpoints relevant to \n[SpringServe](https://help.magnite.com/help/api-documentation) and [Clearline](https://help.magnite.com/help/api-documentation-06dd4d3). \nYou can also find V1 swagger documentation by selecting ‘SpringServe API V1’ from the dropdown at the top right corner \nof this page. Please note we are in the process of creating V1 endpoints for all existing V0 endpoints, but while that work \nis in progress not all endpoints will be supported on V1. We advise reviewing both swagger pages to determine what \nis supported in each version.\n\n# Authentication\nWhen using this API documentation server, by default it will authenticate API calls using cookie-based authentication agains the selected server.  If you are properly logged into the SpringServe server and your session is still active, then the API calls should automatically authenticate.  \n\nOutside of this API documentation server you should use either Token Based or Bearer authentication.  You may also these authentication methods on this server as well,\n which will take precedence over any cookie/session based authentication.\n### Token Based Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to generate an API token that is then passed in the `Authorization: <token>` header\n\n### Bearer Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to authenticate and get a bearer token that is then passed in the `Authorization: Bearer <token>` header\n\n# Active Account Context\nA given request always runs in the context of currently active account for the authenticated user making\nthe request. The active account can be determined via the [GET /api/v0/accounts/current](#/Accounts/accounts_current_get)\nendpoint and updated via [POST /api/v0/accounts/{id}/set_current](#/Accounts/accounts_id_set_current_post).\nThe active account can also be overridden for an authenticated request by passing the `x-auth-context` header.\n\n# V0 List Resource Functionality\nV0 list endpoints support pagination via the `page` (first page is page 1) and `per` (how many results\nper page) query parameters. Some endpoints also support filtering by `ids[]` (repeated query param, e.g. ids[]=1&ids[]=2).\n"
servers:
- url: https://console.springserve.com/api/v0
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v0
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
security:
- api_key: []
- bearer_token: []
tags:
- name: Bid Maps
paths:
  /api/v0/bid_maps:
    get:
      summary: Index (alias)
      description: Alias for /api/v0/hb_bid_maps
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Bid Maps
      operationId: bid_maps_get
    post:
      summary: Create (alias)
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              bid_map_create_simple:
                $ref: '#/components/examples/bid_map_create_simple'
              bid_map_create_full:
                $ref: '#/components/examples/bid_map_create_full'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bid Maps
      operationId: bid_maps_post
  /api/v0/bid_maps/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show (alias)
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bid Maps
      operationId: bid_maps_id_get
    put:
      summary: Update (alias)
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              bid_map_update_simple:
                $ref: '#/components/examples/bid_map_update_simple'
              bid_map_update_full:
                $ref: '#/components/examples/bid_map_update_full'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bid Maps
      operationId: bid_maps_id_put
    patch:
      summary: Update (alias)
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              bid_map_update_simple:
                $ref: '#/components/examples/bid_map_update_simple'
              bid_map_update_full:
                $ref: '#/components/examples/bid_map_update_full'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bid Maps
      operationId: bid_maps_id_patch
    delete:
      summary: Destroy (alias)
      responses:
        '204':
          description: No content
      tags:
      - Bid Maps
      operationId: bid_maps_id_delete
components:
  examples:
    bid_map_update_full:
      summary: Full
      value:
        name: Bid Map Name
        description: Updated description
        hb_bid_map_entries:
        - parameter_value: ott3_4035_30
          bid_floor: 1.11
    bid_map_create_simple:
      summary: Simple
      value:
        name: Bid Map Name
        bid_platform: amazon
        hb_bid_map_type: inventory_split
    bid_map_update_simple:
      summary: Simple
      value:
        name: Bid Map Name
    bid_map_create_full:
      summary: Full
      value:
        name: Bid Map Name
        bid_platform: amazon
        hb_bid_map_type: paid
        description: Bid Map description
        hb_bid_map_entries:
        - parameter_value: ott1_4033_30
          bid_floor: 1.11
        - parameter_value: ott2_4034_60
          bid_floor: 2.22
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: SpringServe authorization token based authentication.
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SpringServe authorization bearer token based authentication.  This key is included in the response from the /api/v0/auth and /api/v1/auth endpoints.  This key will be automatically set if you run the example for /api/v0/auth or /api/v1/auth
x-servers-added-by: https://apievangelist.com — not present in the upstream document; see openapi/_original/ for the verbatim spec.
