---
servers:
- url: https://console.springserve.com/api/v0
  description: >-
    SpringServe console. Added by API Evangelist from the published documentation
    (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base
    Url https://console.springserve.com/"); the document Magnite serves declares no servers[]
    block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v0
  description: >-
    ClearLine console. The identical contract is served from ClearLine's own host; base URL
    published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
x-servers-added-by: https://apievangelist.com — not present in the upstream document; see openapi/_original/ for the verbatim spec.
openapi: 3.1.2
info:
  title: SpringServe UI API (V0)
  version: 0.1.0
  description: "> **_NOTE:_** This document covers the v0 API (`/api/v0`). You can
    find additional documentation on the v0 API (`/api/v0`) on the \n[Magnite Help
    Center](https://help.magnite.com/), which is broken into sections for endpoints
    relevant to \n[SpringServe](https://help.magnite.com/help/api-documentation) and
    [Clearline](https://help.magnite.com/help/api-documentation-06dd4d3). \nYou can
    also find V1 swagger documentation by selecting ‘SpringServe API V1’ from the
    dropdown at the top right corner \nof this page. Please note we are in the process
    of creating V1 endpoints for all existing V0 endpoints, but while that work \nis
    in progress not all endpoints will be supported on V1. We advise reviewing both
    swagger pages to determine what \nis supported in each version.\n\n# Authentication\nWhen
    using this API documentation server, by default it will authenticate API calls
    using cookie-based authentication agains the selected server.  If you are properly
    logged into the SpringServe server and your session is still active, then the
    API calls should automatically authenticate.  \n\nOutside of this API documentation
    server you should use either Token Based or Bearer authentication.  You may also
    these authentication methods on this server as well,\n which will take precedence
    over any cookie/session based authentication.\n### Token Based Authentication\nUse
    the [POST /api/v0/auth](#/Auth/auth_post) endpoint to generate an API token that
    is then passed in the `Authorization: <token>` header\n\n### Bearer Authentication\nUse
    the [POST /api/v0/auth](#/Auth/auth_post) endpoint to authenticate and get a bearer
    token that is then passed in the `Authorization: Bearer <token>` header\n\n# Active
    Account Context\nA given request always runs in the context of currently active
    account for the authenticated user making\nthe request. The active account can
    be determined via the [GET /api/v0/accounts/current](#/Accounts/accounts_current_get)\nendpoint
    and updated via [POST /api/v0/accounts/{id}/set_current](#/Accounts/accounts_id_set_current_post).\nThe
    active account can also be overridden for an authenticated request by passing
    the `x-auth-context` header.\n\n# V0 List Resource Functionality\nV0 list endpoints
    support pagination via the `page` (first page is page 1) and `per` (how many results\nper
    page) query parameters. Some endpoints also support filtering by `ids[]` (repeated
    query param, e.g. ids[]=1&ids[]=2).\n"
paths:
  "/api/v0/accounts":
    get:
      summary: Index
      description: List all Accounts accessible to the current user
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Accounts
      operationId: accounts_get
  "/api/v0/advertiser_domain_lists":
    get:
      summary: Index
      description: List all advertiser domain lists. Supports pagination via page,
        per, and ids params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of advertiser domain lists
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_get
    post:
      summary: Create
      description: Creating an advertiser domain list
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/advertiser_domain_list_create_simple"
              full:
                "$ref": "#/components/examples/advertiser_domain_list_create_full"
        required: true
      responses:
        '201':
          description: Created advertiser domain list
          content:
            application/json:
              schema:
                type: object
              example:
                description: My description
                id: 123
                name: My Test Advertiser Domain List
                account_id: 1
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_post
  "/api/v0/app_bundle_lists":
    get:
      summary: Index
      description: List all app bundle lists. Supports pagination via page, per, and
        ids params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of app bundle lists
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - App Bundle Lists
      operationId: app_bundle_lists_get
    post:
      summary: Create
      description: Creating an App Bundle List
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/app_bundle_list_create_simple"
              full:
                "$ref": "#/components/examples/app_bundle_list_create_full"
        required: true
      responses:
        '201':
          description: Created app bundle list
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                created_at: '2018-02-20T14:05:34.029Z'
                description: My description
                id: 9
                name: My Test App Bundle List
                partial_match: false
      tags:
      - App Bundle Lists
      operationId: app_bundle_lists_post
  "/api/v0/app_name_lists":
    get:
      summary: Index
      description: List all app name lists. Supports pagination via page, per, and
        ids params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of app name lists
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - App Name Lists
      operationId: app_name_lists_get
    post:
      summary: Create
      description: Creating an App Name List
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/app_name_list_create_simple"
              full:
                "$ref": "#/components/examples/app_name_list_create_full"
        required: true
      responses:
        '201':
          description: Created app name list
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                created_at: '2018-02-20T14:05:34.029Z'
                description: My description
                id: 12
                name: My Test App Name List
                partial_match: false
      tags:
      - App Name Lists
      operationId: app_name_lists_post
  "/api/v0/audios":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Audios
      operationId: audios_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/audio_creative_create_simple"
              full:
                "$ref": "#/components/examples/audio_creative_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Audios
      operationId: audios_post
  "/api/v0/auth":
    post:
      summary: Authenticate and get a SpringServe API token
      description: The returned API token should be used as the contents of the HTTP
        `Authorization` header in other authenticated API requests.
      tags:
      - Auth
      security: []
      parameters: []
      responses:
        '200':
          description: successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: The token to use in the Authorization header on future
                      requests
                  expiration:
                    type: string
                    description: The expiration timestamp of this token
        '400':
          description: bad request - invalid credentials
          content:
            application/json:
              schema:
                type: object
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  examples:
                  - user@magnite.com
                password:
                  type: string
                  format: password
                  examples:
                  - some_secret_password
              required:
              - email
              - password
      operationId: auth_post
  "/api/v0/bid_maps":
    get:
      summary: Index (alias)
      description: Alias for /api/v0/hb_bid_maps
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Bid Maps
      operationId: bid_maps_get
    post:
      summary: Create (alias)
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              bid_map_create_simple:
                "$ref": "#/components/examples/bid_map_create_simple"
              bid_map_create_full:
                "$ref": "#/components/examples/bid_map_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bid Maps
      operationId: bid_maps_post
  "/api/v0/bills":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Bills
      operationId: bills_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              bill_create_simple:
                "$ref": "#/components/examples/bill_create_simple"
              bill_create_full:
                "$ref": "#/components/examples/bill_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bills
      operationId: bills_post
  "/api/v0/campaigns":
    get:
      summary: Index
      description: List all campaigns. Supports pagination via page, per, and ids
        params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of campaigns
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Campaigns
      operationId: campaigns_get
    post:
      summary: Create
      description: Creating a Campaign
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              managed_simple:
                "$ref": "#/components/examples/campaign_managed_create_simple"
              managed_full:
                "$ref": "#/components/examples/campaign_managed_create_full"
              direct_connect_simple:
                "$ref": "#/components/examples/campaign_direct_connect_create_simple"
              direct_connect_full:
                "$ref": "#/components/examples/campaign_direct_connect_create_full"
              tiles_dedup_simple:
                "$ref": "#/components/examples/campaign_tiles_dedup_create_simple"
              tiles_dedup_full:
                "$ref": "#/components/examples/campaign_tiles_dedup_create_full"
        required: true
      responses:
        '201':
          description: Created campaign
          content:
            application/json:
              schema:
                type: object
              example:
                name: My Campaign
                has_rate: true
                rate: 10.0
                demand_partner_id: 52
      tags:
      - Campaigns
      operationId: campaigns_post
  "/api/v0/city_lists":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - City Lists
      operationId: city_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              city_list_create_simple:
                "$ref": "#/components/examples/city_list_create_simple"
              city_list_create_full:
                "$ref": "#/components/examples/city_list_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_post
  "/api/v0/connected_demand":
    get:
      summary: Index
      description: 'Selling strategies (path alias: connected_demand)'
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Connected Demand
      operationId: connected_demand_get
  "/api/v0/connected_supply":
    get:
      summary: Index
      description: 'Buying strategies (path alias: connected_supply)'
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Connected Supply
      operationId: connected_supply_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/buying_strategy_create_simple"
              full:
                "$ref": "#/components/examples/buying_strategy_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Connected Supply
      operationId: connected_supply_post
  "/api/v0/country_lists":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Country Lists
      operationId: country_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              country_list_create_simple:
                "$ref": "#/components/examples/country_list_create_simple"
              country_list_create_full:
                "$ref": "#/components/examples/country_list_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Country Lists
      operationId: country_lists_post
  "/api/v0/creatives":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Creatives
      operationId: creatives_get
  "/api/v0/deal_id_lists":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Deal Id Lists
      operationId: deal_id_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/deal_id_list_create_simple"
              full:
                "$ref": "#/components/examples/deal_id_list_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Deal Id Lists
      operationId: deal_id_lists_post
  "/api/v0/deal_lists":
    get:
      summary: Index
      description: Retrieve a list of all deal lists. Available for ClearLine account
        types.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of deal lists
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Deal Lists
      operationId: deal_lists_get
    post:
      summary: Create
      description: Create a deal list with optional deals. Available for ClearLine
        account types.
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/deal_list_create_simple"
              full:
                "$ref": "#/components/examples/deal_list_create_full"
        required: true
      responses:
        '201':
          description: Created deal list
          content:
            application/json:
              schema:
                type: object
      tags:
      - Deal Lists
      operationId: deal_lists_post
  "/api/v0/demand_labels":
    get:
      summary: Index
      description: List all demand labels. Supports pagination via page, per, and
        ids params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of demand labels
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Demand Labels
      operationId: demand_labels_get
    post:
      summary: Create
      description: Creating a Demand Label
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/demand_label_create_simple"
              full:
                "$ref": "#/components/examples/demand_label_create_full"
        required: true
      responses:
        '201':
          description: Created demand label
          content:
            application/json:
              schema:
                type: object
              example:
                id: 353
                name: API Docs label
                account_id: 1
      tags:
      - Demand Labels
      operationId: demand_labels_post
  "/api/v0/demand_partners":
    get:
      summary: Index
      description: List all demand partners. Supports pagination via page, per, and
        ids params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of demand partners
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Demand Partners
      operationId: demand_partners_get
    post:
      summary: Create
      description: Creating a Demand Partner
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/demand_partner_create_simple"
              full:
                "$ref": "#/components/examples/demand_partner_create_full"
        required: true
      responses:
        '201':
          description: Created demand partner
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                buy_flagged_supply: true
                default_tier: 1
                direct_connect: false
                id: 1764
                name: API Docs partner
      tags:
      - Demand Partners
      operationId: demand_partners_post
  "/api/v0/demand_tags":
    get:
      summary: Index
      description: Get demand tags based on multiple conditions
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of demand tags
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Demand Tags
      operationId: demand_tags_get
    post:
      summary: Create
      description: Creating a Demand Tag
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              tag_simple:
                "$ref": "#/components/examples/demand_tag_tag_create_simple"
              tag_full:
                "$ref": "#/components/examples/demand_tag_tag_create_full"
              bidder_simple:
                "$ref": "#/components/examples/demand_tag_bidder_create_simple"
              bidder_full:
                "$ref": "#/components/examples/demand_tag_bidder_create_full"
              line_item_simple:
                "$ref": "#/components/examples/demand_tag_line_item_create_simple"
              line_item_full:
                "$ref": "#/components/examples/demand_tag_line_item_create_full"
              house_ad_simple:
                "$ref": "#/components/examples/demand_tag_house_ad_create_simple"
              house_ad_full:
                "$ref": "#/components/examples/demand_tag_house_ad_create_full"
              dsp_sub_line_item_simple:
                "$ref": "#/components/examples/demand_tag_dsp_sub_line_item_create_simple"
              dsp_sub_line_item_full:
                "$ref": "#/components/examples/demand_tag_dsp_sub_line_item_create_full"
              marketplace_deal_simple:
                "$ref": "#/components/examples/demand_tag_marketplace_deal_create_simple"
              marketplace_deal_full:
                "$ref": "#/components/examples/demand_tag_marketplace_deal_create_full"
        required: true
      responses:
        '201':
          description: Created demand tag
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                id: 30424
                name: TEST API DOCS
                rate: '0.01'
                demand_partner_id: 1764
                vast_endpoint_url: https://staging-tv.springserve.com/vast
      tags:
      - Demand Tags
      operationId: demand_tags_post
  "/api/v0/direct_connection_clearing_terms":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Direct Connection Clearing Terms
      operationId: direct_connection_clearing_terms_get
  "/api/v0/direct_connections":
    get:
      summary: Index
      description: List direct connections
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Direct Connections
      operationId: direct_connections_get
  "/api/v0/domain_lists":
    get:
      summary: Index
      description: List all domain lists. Supports pagination via page, per, and ids
        params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of domain lists
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Domain Lists
      operationId: domain_lists_get
    post:
      summary: Create
      description: Creating a domain list
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/domain_list_create_simple"
              full:
                "$ref": "#/components/examples/domain_list_create_full"
        required: true
      responses:
        '201':
          description: Created domain list
          content:
            application/json:
              schema:
                type: object
              example:
                description: My description
                id: 6114
                name: My Test Domain List
                account_id: 1
      tags:
      - Domain Lists
      operationId: domain_lists_post
  "/api/v0/forecast":
    post:
      summary: Create Forecast
      description: Create a forecast
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Forecast
      operationId: forecast_post
  "/api/v0/global_fcap_pixels":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Global Fcap Pixels
      operationId: global_fcap_pixels_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/global_fcap_pixel_create_simple"
              full:
                "$ref": "#/components/examples/global_fcap_pixel_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Global Fcap Pixels
      operationId: global_fcap_pixels_post
  "/api/v0/hb_bid_maps":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Hb Bid Maps
      operationId: hb_bid_maps_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              hb_bid_map_create_simple:
                "$ref": "#/components/examples/hb_bid_map_create_simple"
              hb_bid_map_create_full:
                "$ref": "#/components/examples/hb_bid_map_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Hb Bid Maps
      operationId: hb_bid_maps_post
  "/api/v0/ip_lists":
    get:
      summary: Index
      description: List all IP address lists. Supports pagination via page, per, and
        ids params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of IP address lists
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Ip Lists
      operationId: ip_lists_get
    post:
      summary: Create
      description: Creating an IP Address List
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/ip_list_create_simple"
              full:
                "$ref": "#/components/examples/ip_list_create_full"
        required: true
      responses:
        '201':
          description: Created IP address list
          content:
            application/json:
              schema:
                type: object
              example:
                id: 6
                account_id: 1
                name: My IP List
                description: My description
                active: true
                created_at: '2018-08-08T21:06:09.923Z'
      tags:
      - Ip Lists
      operationId: ip_lists_post
  "/api/v0/keys":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Keys
      operationId: keys_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              key_create_simple:
                "$ref": "#/components/examples/key_create_simple"
              key_create_full:
                "$ref": "#/components/examples/key_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Keys
      operationId: keys_post
  "/api/v0/metro_area_lists":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Metro Area Lists
      operationId: metro_area_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/metro_area_list_create_simple"
              full:
                "$ref": "#/components/examples/metro_area_list_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Metro Area Lists
      operationId: metro_area_lists_post
  "/api/v0/parameter_lists":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Parameter Lists
      operationId: parameter_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              parameter_list_create_simple:
                "$ref": "#/components/examples/parameter_list_create_simple"
              parameter_list_create_full:
                "$ref": "#/components/examples/parameter_list_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Parameter Lists
      operationId: parameter_lists_post
  "/api/v0/partner_segments":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Partner Segments
      operationId: partner_segments_get
  "/api/v0/postal_code_lists":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Postal Code Lists
      operationId: postal_code_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/postal_code_list_create_simple"
              full:
                "$ref": "#/components/examples/postal_code_list_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Postal Code Lists
      operationId: postal_code_lists_post
  "/api/v0/publisher_id_lists":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Publisher Id Lists
      operationId: publisher_id_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/publisher_id_list_create_simple"
              full:
                "$ref": "#/components/examples/publisher_id_list_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Publisher Id Lists
      operationId: publisher_id_lists_post
  "/api/v0/report":
    post:
      summary: Create Report
      description: Create a Delivery report. Available for ClearLine account types.
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/report_create_simple"
              full:
                "$ref": "#/components/examples/report_create_full"
      responses:
        '200':
          description: Report result or queued/building status
          content:
            application/json:
              schema:
                type: object
      tags:
      - Report
      operationId: report_post
  "/api/v0/reports":
    post:
      summary: Create Report
      description: |
        Create a report. For Reach & Frequency reports (ClearLine), include interval, timezone, cadences, and async
        exactly as shown. Reports may return QUEUED or BUILDING status; repeat the POST until status is COMPLETE.
        Available for ClearLine account types.
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/report_create_simple"
              full:
                "$ref": "#/components/examples/report_create_full"
      responses:
        '200':
          description: Report result. Status may be QUEUED, BUILDING, or COMPLETE.
          content:
            application/json:
              schema:
                type: object
              example:
                status: COMPLETE
                report_id: "[36-digit report ID]"
                page: 1
                total_pages: 1
                total_rows: 1
                data:
                - total_impressions: 3785905
                  unique_cookies: 3817644
                  cookie_reach: 0.99
                  cost: 66048.81
                  cpm: 17.45
      tags:
      - Reports
      operationId: reports_post
  "/api/v0/segments":
    get:
      summary: Index
      description: List all segments. Supports pagination via page, per, and ids params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of segments
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Segments
      operationId: segments_get
    post:
      summary: Create
      description: Creating a Segment
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              segment_list_create_simple:
                "$ref": "#/components/examples/segment_list_create_simple"
              segment_list_create_full:
                "$ref": "#/components/examples/segment_list_create_full"
              segment_pixel_create_simple:
                "$ref": "#/components/examples/segment_pixel_create_simple"
              segment_pixel_create_full:
                "$ref": "#/components/examples/segment_pixel_create_full"
        required: true
      responses:
        '201':
          description: Created segment
          content:
            application/json:
              schema:
                type: object
              example:
                name: My Cookie ID Segment
      tags:
      - Segments
      operationId: segments_post
  "/api/v0/state_lists":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - State Lists
      operationId: state_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              state_list_create_simple:
                "$ref": "#/components/examples/state_list_create_simple"
              state_list_create_full:
                "$ref": "#/components/examples/state_list_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - State Lists
      operationId: state_lists_post
  "/api/v0/supply_labels":
    get:
      summary: Index
      description: List all supply labels. Supports pagination via page, per, and
        ids params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of supply labels
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Supply Labels
      operationId: supply_labels_get
    post:
      summary: Create
      description: Creating a Supply Label
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/supply_label_create_simple"
              full:
                "$ref": "#/components/examples/supply_label_create_full"
        required: true
      responses:
        '201':
          description: Created supply label
          content:
            application/json:
              schema:
                type: object
              example:
                id: 353
                name: API Docs label
                account_id: 1
      tags:
      - Supply Labels
      operationId: supply_labels_post
  "/api/v0/supply_partners":
    get:
      summary: Index
      description: List all supply partners. Supports pagination via page, per, and
        ids params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of supply partners
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Supply Partners
      operationId: supply_partners_get
    post:
      summary: Create
      description: Creating a Supply Partner
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/supply_partner_create_simple"
              full:
                "$ref": "#/components/examples/supply_partner_create_full"
        required: true
      responses:
        '201':
          description: Created supply partner
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                direct_connect: true
                id: 1764
                name: API Docs partner
                optimization_active_default: true
                optimization_custom_defaults: true
                optimization_settings_default:
                  lookback_minutes: '30'
                  metric: Request Fill
                  minimum_requests: '100'
      tags:
      - Supply Partners
      operationId: supply_partners_post
  "/api/v0/supply_routers":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Supply Routers
      operationId: supply_routers_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/supply_router_create_simple"
              full:
                "$ref": "#/components/examples/supply_router_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Supply Routers
      operationId: supply_routers_post
  "/api/v0/supply_tags":
    get:
      summary: Index
      description: List all supply tags. Supports pagination via page, per, and ids
        params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of supply tags
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Supply Tags
      operationId: supply_tags_get
    post:
      summary: Create
      description: Create a supply tag
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              tag_simple:
                "$ref": "#/components/examples/supply_tag_tag_create_simple"
              tag_full:
                "$ref": "#/components/examples/supply_tag_tag_create_full"
              bid_link_simple:
                "$ref": "#/components/examples/supply_tag_bid_link_create_simple"
              bid_link_full:
                "$ref": "#/components/examples/supply_tag_bid_link_create_full"
              tile_simple:
                "$ref": "#/components/examples/supply_tag_tile_create_simple"
              tile_full:
                "$ref": "#/components/examples/supply_tag_tile_create_full"
              audio_simple:
                "$ref": "#/components/examples/supply_tag_audio_create_simple"
              audio_full:
                "$ref": "#/components/examples/supply_tag_audio_create_full"
              pause_ad_simple:
                "$ref": "#/components/examples/supply_tag_pause_ad_create_simple"
              pause_ad_full:
                "$ref": "#/components/examples/supply_tag_pause_ad_create_full"
        required: true
      responses:
        '201':
          description: Created supply tag
          content:
            application/json:
              schema:
                type: object
      tags:
      - Supply Tags
      operationId: supply_tags_post
  "/api/v0/tag_creatives":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Tag Creatives
      operationId: tag_creatives_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/tag_creative_create_simple"
              full:
                "$ref": "#/components/examples/tag_creative_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Tag Creatives
      operationId: tag_creatives_post
  "/api/v0/tiles":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Tiles
      operationId: tiles_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              clickable_image_simple:
                "$ref": "#/components/examples/tile_creative_clickable_image_create_simple"
              clickable_image_full:
                "$ref": "#/components/examples/tile_creative_clickable_image_create_full"
              custom_simple:
                "$ref": "#/components/examples/tile_creative_custom_create_simple"
              custom_full:
                "$ref": "#/components/examples/tile_creative_custom_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Tiles
      operationId: tiles_post
  "/api/v0/users":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Users
      operationId: users_get
  "/api/v0/value_lists":
    get:
      summary: Index
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Value Lists
      operationId: value_lists_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/value_list_create_simple"
              full:
                "$ref": "#/components/examples/value_list_create_full"
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Value Lists
      operationId: value_lists_post
  "/api/v0/videos":
    get:
      summary: Index
      description: List video creatives. Supports pagination via page, per, and ids
        params.
      parameters:
      - "$ref": ref/params.yaml#/components/parameters/pageParam
      - "$ref": ref/params.yaml#/components/parameters/perParam
      - "$ref": ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of video creatives
          content:
            application/json:
              schema:
                "$ref": ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Videos
      operationId: videos_get
    post:
      summary: Create
      description: Create a video creative (from Clearline Demand Tag, Video Creative
        API docs)
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/video_creative_create_simple"
              full:
                "$ref": "#/components/examples/video_creative_create_full"
        required: true
      responses:
        '201':
          description: Created video creative
          content:
            application/json:
              schema:
                type: object
              example:
                id: 1832
                account_id: 1
                name: videofile.mp4
                height: 1080
                width: 1920
                duration_seconds: 14
                video_file_name: VIDEO FILE API DOCS
                video_content_type: video/mp4
                video_file_size: 6737024
                video_updated_at: '2018-08-20T21:25:27.235Z'
                video_remote_url:
      tags:
      - Videos
      operationId: videos_post
  "/api/v0/accounts/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      description: Retrieve a single account by id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Accounts
      operationId: accounts_id_get
    put:
      summary: Update
      description: Update the account. Only tier flags are updatable via v0 (tier_a_active,
        tier_b_active, tier_c_active, tier_e_active, tier_f_active).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tier_a_active:
                  type: boolean
                tier_b_active:
                  type: boolean
                tier_c_active:
                  type: boolean
                tier_e_active:
                  type: boolean
                tier_f_active:
                  type: boolean
            examples:
              simple:
                "$ref": "#/components/examples/account_update_simple"
              full:
                "$ref": "#/components/examples/account_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Accounts
      operationId: accounts_id_put
  "/api/v0/advertiser_domain_lists/{id}":
    get:
      summary: Show
      description: Get a domain list by ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Advertiser domain list details
          content:
            application/json:
              schema:
                type: object
              example:
                description: My description
                id: 123
                name: My Test Advertiser Domain List
                account_id: 1
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_id_get
    put:
      summary: Update
      description: Update an advertiser domain list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/advertiser_domain_list_update_simple"
              full:
                "$ref": "#/components/examples/advertiser_domain_list_update_full"
      responses:
        '200':
          description: Updated advertiser domain list
          content:
            application/json:
              schema:
                type: object
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_id_put
    delete:
      summary: Destroy
      description: Delete an advertiser domain list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_id_delete
  "/api/v0/app_bundle_lists/{id}":
    get:
      summary: Show
      description: Get an App Bundle List
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: App bundle list details
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                created_at: '2018-02-20T14:05:34.029Z'
                description: My description
                id: 9
                name: My Test App Bundle List
                partial_match: false
      tags:
      - App Bundle Lists
      operationId: app_bundle_lists_id_get
    put:
      summary: Update
      description: Update an app bundle list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/app_bundle_list_update_simple"
              full:
                "$ref": "#/components/examples/app_bundle_list_update_full"
        required: true
      responses:
        '200':
          description: Updated app bundle list
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                created_at: '2018-02-20T14:05:34.029Z'
                description: My description
                id: 9
                name: My Test App Bundle List
                partial_match: false
      tags:
      - App Bundle Lists
      operationId: app_bundle_lists_id_put
    delete:
      summary: Destroy
      description: Delete an app bundle list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - App Bundle Lists
      operationId: app_bundle_lists_id_delete
  "/api/v0/app_name_lists/{id}":
    get:
      summary: Show
      description: Get an App Name List
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: App name list details
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                created_at: '2018-02-20T14:05:34.029Z'
                description: My description
                id: 12
                name: My Test App Name List
                partial_match: false
      tags:
      - App Name Lists
      operationId: app_name_lists_id_get
    put:
      summary: Update
      description: Update an app name list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/app_name_list_update_simple"
              full:
                "$ref": "#/components/examples/app_name_list_update_full"
        required: true
      responses:
        '200':
          description: Updated app name list
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                created_at: '2018-02-20T14:05:34.029Z'
                description: My description
                id: 12
                name: My Test App Name List
                partial_match: false
      tags:
      - App Name Lists
      operationId: app_name_lists_id_put
    delete:
      summary: Destroy
      description: Delete an app name list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - App Name Lists
      operationId: app_name_lists_id_delete
  "/api/v0/audios/{id}":
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Audios
      operationId: audios_id_get
    put:
      summary: Update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/audio_creative_update_simple"
              full:
                "$ref": "#/components/examples/audio_creative_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Audios
      operationId: audios_id_put
    delete:
      summary: Destroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Audios
      operationId: audios_id_delete
  "/api/v0/bid_maps/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show (alias)
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bid Maps
      operationId: bid_maps_id_get
    put:
      summary: Update (alias)
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              bid_map_update_simple:
                "$ref": "#/components/examples/bid_map_update_simple"
              bid_map_update_full:
                "$ref": "#/components/examples/bid_map_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bid Maps
      operationId: bid_maps_id_put
    patch:
      summary: Update (alias)
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              bid_map_update_simple:
                "$ref": "#/components/examples/bid_map_update_simple"
              bid_map_update_full:
                "$ref": "#/components/examples/bid_map_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bid Maps
      operationId: bid_maps_id_patch
    delete:
      summary: Destroy (alias)
      responses:
        '204':
          description: No content
      tags:
      - Bid Maps
      operationId: bid_maps_id_delete
  "/api/v0/bills/{id}":
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bills
      operationId: bills_id_get
    put:
      summary: Update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              bill_update_simple:
                "$ref": "#/components/examples/bill_update_simple"
              bill_update_full:
                "$ref": "#/components/examples/bill_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Bills
      operationId: bills_id_put
  "/api/v0/campaigns/{id}":
    get:
      summary: Show
      description: Get a Campaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Campaign details
          content:
            application/json:
              schema:
                type: object
      tags:
      - Campaigns
      operationId: campaigns_id_get
    put:
      summary: Update
      description: Add Demand Tags to your Campaign or Edit a Campaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/campaign_update_simple"
              full:
                "$ref": "#/components/examples/campaign_update_full"
      responses:
        '200':
          description: Updated campaign
          content:
            application/json:
              schema:
                type: object
              example:
                id: 39
                account_id: 1
                name: My Campaign
                rate:
                has_rate: false
                demand_partner_id: 52
                demand_tag_ids:
                - 22312
                - 45923
      tags:
      - Campaigns
      operationId: campaigns_id_put
    delete:
      summary: Destroy
      description: Delete a campaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Campaigns
      operationId: campaigns_id_delete
  "/api/v0/city_lists/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_id_get
    put:
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              city_list_update_simple:
                "$ref": "#/components/examples/city_list_update_simple"
              city_list_update_full:
                "$ref": "#/components/examples/city_list_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - City Lists
      operationId: city_lists_id_put
    delete:
      summary: Destroy
      responses:
        '204':
          description: No content
      tags:
      - City Lists
      operationId: city_lists_id_delete
  "/api/v0/connected_demand/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Connected Demand
      operationId: connected_demand_id_get
    put:
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/selling_strategy_update_simple"
              full:
                "$ref": "#/components/examples/selling_strategy_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Connected Demand
      operationId: connected_demand_id_put
    delete:
      summary: Destroy
      responses:
        '204':
          description: No content
      tags:
      - Connected Demand
      operationId: connected_demand_id_delete
  "/api/v0/connected_supply/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Connected Supply
      operationId: connected_supply_id_get
    put:
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/buying_strategy_update_simple"
              full:
                "$ref": "#/components/examples/buying_strategy_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Connected Supply
      operationId: connected_supply_id_put
  "/api/v0/country_lists/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Country Lists
      operationId: country_lists_id_get
    put:
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              country_list_update_simple:
                "$ref": "#/components/examples/country_list_update_simple"
              country_list_update_full:
                "$ref": "#/components/examples/country_list_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Country Lists
      operationId: country_lists_id_put
    delete:
      summary: Destroy
      responses:
        '204':
          description: No content
      tags:
      - Country Lists
      operationId: country_lists_id_delete
  "/api/v0/creatives/{id}":
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Creatives
      operationId: creatives_id_get
  "/api/v0/deal_id_lists/{id}":
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Deal Id Lists
      operationId: deal_id_lists_id_get
    put:
      summary: Update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/deal_id_list_update_simple"
              full:
                "$ref": "#/components/examples/deal_id_list_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Deal Id Lists
      operationId: deal_id_lists_id_put
    delete:
      summary: Destroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Deal Id Lists
      operationId: deal_id_lists_id_delete
  "/api/v0/deal_lists/{id}":
    get:
      summary: Show
      description: Show details for a specific deal list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deal list details
          content:
            application/json:
              schema:
                type: object
      tags:
      - Deal Lists
      operationId: deal_lists_id_get
    put:
      summary: Update
      description: Update a deal list (name, description, status)
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/deal_list_update_simple"
              full:
                "$ref": "#/components/examples/deal_list_update_full"
      responses:
        '200':
          description: Updated deal list
          content:
            application/json:
              schema:
                type: object
      tags:
      - Deal Lists
      operationId: deal_lists_id_put
    delete:
      summary: Destroy
      description: Permanently delete a deal list. This action cannot be undone.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Deal Lists
      operationId: deal_lists_id_delete
  "/api/v0/demand_labels/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      description: Get a Demand Label
      responses:
        '200':
          description: Demand label details
          content:
            application/json:
              schema:
                type: object
              example:
                id: 1764
                name: API Docs label
                account_id: 1
      tags:
      - Demand Labels
      operationId: demand_labels_id_get
    put:
      summary: Update
      description: Edit a Demand Label
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/demand_label_update_simple"
              full:
                "$ref": "#/components/examples/demand_label_update_full"
      responses:
        '200':
          description: Updated demand label
          content:
            application/json:
              schema:
                type: object
              example:
                id: 353
                name: I want to change the name
                account_id: 1
      tags:
      - Demand Labels
      operationId: demand_labels_id_put
    delete:
      summary: Destroy
      description: Delete a demand label
      responses:
        '204':
          description: No content
      tags:
      - Demand Labels
      operationId: demand_labels_id_delete
  "/api/v0/demand_partners/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      description: Get a Demand Partner
      responses:
        '200':
          description: Demand partner details
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                buy_flagged_supply: true
                default_tier: 1
                direct_connect: false
                id: 1764
                name: API Docs partner
      tags:
      - Demand Partners
      operationId: demand_partners_id_get
    put:
      summary: Update
      description: Edit a Demand Partner
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/demand_partner_update_simple"
              full:
                "$ref": "#/components/examples/demand_partner_update_full"
      responses:
        '200':
          description: Updated demand partner
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                buy_flagged_supply: true
                default_tier: 1
                direct_connect: false
                id: 1764
                name: I want to change the name
      tags:
      - Demand Partners
      operationId: demand_partners_id_put
    delete:
      summary: Destroy
      description: Delete a demand partner
      responses:
        '204':
          description: No content
      tags:
      - Demand Partners
      operationId: demand_partners_id_delete
  "/api/v0/demand_tags/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      description: Get a demand tag by id
      responses:
        '200':
          description: Demand tag details
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                id: 30424
                name: TEST API DOCS
                rate: '0.01'
                demand_partner_id: 1764
                vast_endpoint_url: https://staging-tv.springserve.com/vast
      tags:
      - Demand Tags
      operationId: demand_tags_id_get
    put:
      summary: Update
      description: Edit a Demand Tag (e.g. name, or budgets). See Clearline Demand
        Tag Budgets API docs for budget fields.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                advanced_floor_rules:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      dimension:
                        type: string
                        enum:
                        - adomain
                        - duration
                        - country
                        - iab_tier_1
                        - iab_tier_2
                      values:
                        type: array
                        items:
                          type: string
                      floor_price:
                        type: number
            examples:
              simple:
                "$ref": "#/components/examples/demand_tag_update_simple"
              full:
                "$ref": "#/components/examples/demand_tag_update_full"
      responses:
        '200':
          description: Updated demand tag
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                demand_partner_id: 1764
                id: 30424
                name: I want to change the name
                rate: '0.01'
                vast_endpoint_url: https://staging-tv.springserve.com/vast
      tags:
      - Demand Tags
      operationId: demand_tags_id_put
    delete:
      summary: Destroy
      description: Delete a demand tag
      responses:
        '204':
          description: No content
      tags:
      - Demand Tags
      operationId: demand_tags_id_delete
  "/api/v0/direct_connection_clearing_terms/{id}":
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Direct Connection Clearing Terms
      operationId: direct_connection_clearing_terms_id_get
  "/api/v0/direct_connections/{id}":
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Direct Connections
      operationId: direct_connections_id_get
  "/api/v0/domain_lists/{id}":
    get:
      summary: Show
      description: Get a domain list by ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Domain list details
          content:
            application/json:
              schema:
                type: object
              example:
                description: My description
                id: 6114
                name: My Test Domain List
                account_id: 1
      tags:
      - Domain Lists
      operationId: domain_lists_id_get
    put:
      summary: Update
      description: Update a domain list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/domain_list_update_simple"
              full:
                "$ref": "#/components/examples/domain_list_update_full"
      responses:
        '200':
          description: Updated domain list
          content:
            application/json:
              schema:
                type: object
              example:
                description: My description
                id: 6114
                name: My Test Domain List
                account_id: 1
      tags:
      - Domain Lists
      operationId: domain_lists_id_put
    delete:
      summary: Destroy
      description: Delete a domain list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Domain Lists
      operationId: domain_lists_id_delete
  "/api/v0/first_party_partner_segments/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    delete:
      summary: Destroy
      responses:
        '204':
          description: No content
      tags:
      - First Party Partner Segments
      operationId: first_party_partner_segments_id_delete
  "/api/v0/global_fcap_pixels/{id}":
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Global Fcap Pixels
      operationId: global_fcap_pixels_id_get
    put:
      summary: Update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/global_fcap_pixel_update_simple"
              full:
                "$ref": "#/components/examples/global_fcap_pixel_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Global Fcap Pixels
      operationId: global_fcap_pixels_id_put
    delete:
      summary: Destroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Global Fcap Pixels
      operationId: global_fcap_pixels_id_delete
  "/api/v0/hb_bid_maps/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Hb Bid Maps
      operationId: hb_bid_maps_id_get
    put:
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              hb_bid_map_update_simple:
                "$ref": "#/components/examples/hb_bid_map_update_simple"
              hb_bid_map_update_full:
                "$ref": "#/components/examples/hb_bid_map_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Hb Bid Maps
      operationId: hb_bid_maps_id_put
    patch:
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              hb_bid_map_update_simple:
                "$ref": "#/components/examples/hb_bid_map_update_simple"
              hb_bid_map_update_full:
                "$ref": "#/components/examples/hb_bid_map_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Hb Bid Maps
      operationId: hb_bid_maps_id_patch
    delete:
      summary: Destroy
      responses:
        '204':
          description: No content
      tags:
      - Hb Bid Maps
      operationId: hb_bid_maps_id_delete
  "/api/v0/ip_lists/{id}":
    get:
      summary: Show
      description: Get an IP Address List
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: IP address list details
          content:
            application/json:
              schema:
                type: object
              example:
                id: 6
                account_id: 1
                name: My IP List
                description: My description
                active: true
                created_at: '2018-08-08T17:19:44.516Z'
      tags:
      - Ip Lists
      operationId: ip_lists_id_get
    put:
      summary: Update
      description: Update an IP address list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/ip_list_update_simple"
              full:
                "$ref": "#/components/examples/ip_list_update_full"
        required: true
      responses:
        '200':
          description: Updated IP address list
          content:
            application/json:
              schema:
                type: object
              example:
                id: 6
                account_id: 1
                name: My IP List
                description: My description
                active: true
                created_at: '2018-08-08T17:19:44.516Z'
      tags:
      - Ip Lists
      operationId: ip_lists_id_put
    delete:
      summary: Destroy
      description: Delete an IP address list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Ip Lists
      operationId: ip_lists_id_delete
  "/api/v0/keys/{id}":
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Keys
      operationId: keys_id_get
    put:
      summary: Update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              key_update_simple:
                "$ref": "#/components/examples/key_update_simple"
              key_update_full:
                "$ref": "#/components/examples/key_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Keys
      operationId: keys_id_put
    delete:
      summary: Destroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Keys
      operationId: keys_id_delete
  "/api/v0/metro_area_lists/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Metro Area Lists
      operationId: metro_area_lists_id_get
    put:
      summary: Update
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                "$ref": "#/components/examples/metro_area_list_update_simple"
              full:
                "$ref": "#/components/examples/metro_area_list_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Metro Area Lists
      operationId: metro_area_lists_id_put
    delete:
      summary: Destroy
      responses:
        '204':
          description: No content
      tags:
      - Metro Area Lists
      operationId: metro_area_lists_id_delete
  "/api/v0/parameter_lists/{id}":
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Parameter Lists
      operationId: parameter_lists_id_get
    put:
      summary: Update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              parameter_list_update_simple:
                "$ref": "#/components/examples/parameter_list_update_simple"
              parameter_list_update_full:
                "$ref": "#/components/examples/parameter_list_update_full"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Parameter Lists
      operationId: parameter_lists_id_put
    delete:
      summary: Destroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Parameter Lists
      operationId: parameter_lists_id_delete
  "/api/v0/partner_segments/{id}":
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      responses:
        '200':
          description: ''
          content:
[...]
