openapi: 3.2.0
info:
  title: SpringServe UI API (V0) Advertiser Domain Lists API
  version: 0.1.0
  description: "> **_NOTE:_** This document covers the v0 API (`/api/v0`). You can find additional documentation on the v0 API (`/api/v0`) on the \n[Magnite Help Center](https://help.magnite.com/), which is broken into sections for endpoints relevant to \n[SpringServe](https://help.magnite.com/help/api-documentation) and [Clearline](https://help.magnite.com/help/api-documentation-06dd4d3). \nYou can also find V1 swagger documentation by selecting ‘SpringServe API V1’ from the dropdown at the top right corner \nof this page. Please note we are in the process of creating V1 endpoints for all existing V0 endpoints, but while that work \nis in progress not all endpoints will be supported on V1. We advise reviewing both swagger pages to determine what \nis supported in each version.\n\n# Authentication\nWhen using this API documentation server, by default it will authenticate API calls using cookie-based authentication agains the selected server.  If you are properly logged into the SpringServe server and your session is still active, then the API calls should automatically authenticate.  \n\nOutside of this API documentation server you should use either Token Based or Bearer authentication.  You may also these authentication methods on this server as well,\n which will take precedence over any cookie/session based authentication.\n### Token Based Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to generate an API token that is then passed in the `Authorization: <token>` header\n\n### Bearer Authentication\nUse the [POST /api/v0/auth](#/Auth/auth_post) endpoint to authenticate and get a bearer token that is then passed in the `Authorization: Bearer <token>` header\n\n# Active Account Context\nA given request always runs in the context of currently active account for the authenticated user making\nthe request. The active account can be determined via the [GET /api/v0/accounts/current](#/Accounts/accounts_current_get)\nendpoint and updated via [POST /api/v0/accounts/{id}/set_current](#/Accounts/accounts_id_set_current_post).\nThe active account can also be overridden for an authenticated request by passing the `x-auth-context` header.\n\n# V0 List Resource Functionality\nV0 list endpoints support pagination via the `page` (first page is page 1) and `per` (how many results\nper page) query parameters. Some endpoints also support filtering by `ids[]` (repeated query param, e.g. ids[]=1&ids[]=2).\n"
servers:
- url: https://console.springserve.com/api/v0
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v0
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
security:
- api_key: []
- bearer_token: []
tags:
- name: Advertiser Domain Lists
paths:
  /api/v0/advertiser_domain_lists:
    get:
      summary: Index
      description: List all advertiser domain lists. Supports pagination via page, per, and ids params.
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of advertiser domain lists
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_get
    post:
      summary: Create
      description: Creating an advertiser domain list
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                $ref: '#/components/examples/advertiser_domain_list_create_simple'
              full:
                $ref: '#/components/examples/advertiser_domain_list_create_full'
        required: true
      responses:
        '201':
          description: Created advertiser domain list
          content:
            application/json:
              schema:
                type: object
              example:
                description: My description
                id: 123
                name: My Test Advertiser Domain List
                account_id: 1
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_post
  /api/v0/advertiser_domain_lists/{id}:
    get:
      summary: Show
      description: Get a domain list by ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Advertiser domain list details
          content:
            application/json:
              schema:
                type: object
              example:
                description: My description
                id: 123
                name: My Test Advertiser Domain List
                account_id: 1
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_id_get
    put:
      summary: Update
      description: Update an advertiser domain list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              simple:
                $ref: '#/components/examples/advertiser_domain_list_update_simple'
              full:
                $ref: '#/components/examples/advertiser_domain_list_update_full'
      responses:
        '200':
          description: Updated advertiser domain list
          content:
            application/json:
              schema:
                type: object
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_id_put
    delete:
      summary: Destroy
      description: Delete an advertiser domain list
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_id_delete
  /api/v0/advertiser_domain_lists/{advertiser_domain_list_id}/advertiser_domains:
    get:
      summary: Index
      description: Get domains in advertiser domain list
      parameters:
      - name: advertiser_domain_list_id
        in: path
        required: true
        schema:
          type: string
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of advertiser domains
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
              example:
              - name: cnn.com
              - name: abc.com
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_advertiser_domain_list_id_advertiser_domains_get
  /api/v0/advertiser_domain_lists/{advertiser_domain_list_id}/advertiser_domains/bulk_create:
    post:
      summary: Bulk Create
      description: Add advertiser domains
      parameters:
      - name: advertiser_domain_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              single:
                $ref: '#/components/examples/advertiser_domain_list_domains_bulk_single'
              multiple:
                $ref: '#/components/examples/advertiser_domain_list_domains_bulk_multiple'
        required: true
      responses:
        '201':
          description: Number of domains created
          content:
            application/json:
              schema:
                type: object
              example:
                created: 2
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_advertiser_domain_list_id_advertiser_domains_bulk_create_post
  /api/v0/advertiser_domain_lists/{advertiser_domain_list_id}/advertiser_domains/bulk_delete:
    delete:
      summary: Bulk Delete
      description: Remove domains
      parameters:
      - name: advertiser_domain_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example:
              names:
              - cnn.com
      responses:
        '200':
          description: Number of domains deleted
          content:
            application/json:
              schema:
                type: object
              example:
                deleted: 1
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_advertiser_domain_list_id_advertiser_domains_bulk_delete_delete
  /api/v0/advertiser_domain_lists/{advertiser_domain_list_id}/advertiser_domains/bulk_replace:
    post:
      summary: Bulk Replace
      description: Replace advertiser domains
      parameters:
      - name: advertiser_domain_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              single:
                $ref: '#/components/examples/advertiser_domain_list_domains_bulk_single'
              multiple:
                $ref: '#/components/examples/advertiser_domain_list_domains_bulk_multiple'
        required: true
      responses:
        '200':
          description: Replacement confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                advertiser:
                - replacement.com
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_advertiser_domain_list_id_advertiser_domains_bulk_replace_post
  /api/v0/advertiser_domain_lists/{advertiser_domain_list_id}/advertiser_domains/file_bulk_create:
    post:
      summary: File Bulk Create
      description: Append advertiser domains to an advertiser domain list from a file
      parameters:
      - name: advertiser_domain_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - csv_file
              properties:
                csv_file:
                  type: string
                  format: binary
                  description: CSV file containing domains to append (one per line or appropriately formatted)
        required: true
      responses:
        '201':
          description: Append confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                created: true
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_advertiser_domain_list_id_advertiser_domains_file_bulk_create_post
  /api/v0/advertiser_domain_lists/{advertiser_domain_list_id}/advertiser_domains/file_bulk_delete:
    delete:
      summary: File Bulk Delete
      description: Remove domains in a file from an advertiser domain list
      parameters:
      - name: advertiser_domain_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - csv_file
              properties:
                csv_file:
                  type: string
                  format: binary
                  description: CSV file containing domains to remove from the list
      responses:
        '200':
          description: Deletion confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                created: true
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_advertiser_domain_list_id_advertiser_domains_file_bulk_delete_delete
  /api/v0/advertiser_domain_lists/{advertiser_domain_list_id}/advertiser_domains/file_bulk_replace:
    post:
      summary: File Bulk Replace
      description: Replace all domains with a file
      parameters:
      - name: advertiser_domain_list_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - csv_file
              properties:
                csv_file:
                  type: string
                  format: binary
                  description: CSV file containing domains to replace existing list contents
        required: true
      responses:
        '200':
          description: Replacement confirmation
          content:
            application/json:
              schema:
                type: object
              example:
                created: true
      tags:
      - Advertiser Domain Lists
      operationId: advertiser_domain_lists_advertiser_domain_list_id_advertiser_domains_file_bulk_replace_post
components:
  examples:
    advertiser_domain_list_create_full:
      summary: Full
      value:
        name: Advertiser Domain List Name
        description: Advertiser Domain List Description
        active: true
    advertiser_domain_list_create_simple:
      summary: Simple
      value:
        name: Advertiser Domain List Name
    advertiser_domain_list_domains_bulk_multiple:
      summary: Multiple
      value:
        names:
        - example1.com
        - example2.com
        - example3.com
    advertiser_domain_list_update_full:
      summary: Full
      value:
        name: Advertiser Domain List Name
        description: Advertiser Domain List Description
        active: true
    advertiser_domain_list_update_simple:
      summary: Simple
      value:
        name: Advertiser Domain List Name
        active: true
    advertiser_domain_list_domains_bulk_single:
      summary: Single
      value:
        names:
        - example1.com
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: SpringServe authorization token based authentication.
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SpringServe authorization bearer token based authentication.  This key is included in the response from the /api/v0/auth and /api/v1/auth endpoints.  This key will be automatically set if you run the example for /api/v0/auth or /api/v1/auth
x-servers-added-by: https://apievangelist.com — not present in the upstream document; see openapi/_original/ for the verbatim spec.
