openapi: 3.2.0
info:
  title: SpringServe UI Report Templates API
  version: 1.0.0
  description: "> **_NOTE:_** This document covers the v1 API (`/api/v1`). You can find additional documentation on the v1 API (`/api/v1`) on the \n[Magnite Help Center](https://help.magnite.com/), which is broken into sections for endpoints relevant to \n[SpringServe](https://help.magnite.com/help/api-documentation) and [Clearline](https://help.magnite.com/help/api-documentation-06dd4d3). \nYou can also find V1 swagger documentation by selecting ‘SpringServe API V1’ from the dropdown at the top right corner \nof this page. Please note we are in the process of creating V1 endpoints for all existing V0 endpoints, but while that work \nis in progress not all endpoints will be supported on V1. We advise reviewing both swagger pages to determine what \nis supported in each version.\n\n# Authentication\nWhen using this API documentation server, by default it will authenticate API calls using cookie-based authentication against the selected server.  If you are properly logged into the SpringServe server and your session is still active, then the API calls should automatically authenticate.  \n\nOutside of this API documentation server you should use either Token Based or Bearer authentication.  You may also these authentication methods on this server as well,\n which will take precedence over any cookie/session based authentication.\n### Token Based Authentication\nUse the [POST /api/v1/auth](#/Auth/auth_post) endpoint to generate an API token that is then passed in the `Authorization: <token>` header\n\n### Bearer Authentication\nUse the [POST /api/v1/auth](#/Auth/auth_post) endpoint to authenticate and get a bearer token that is then passed in the `Authorization: Bearer <token>` header\n\n# Active Account Context\nA given request always runs in the context of currently active account for the authenticated user making the request.  The active account can be determined via\nthe [GET /api/v1/accounts/current](#/Accounts/accounts_current_get) endpoint and updated via [POST /api/v1/accounts/{id}/set_current](#/Accounts/accounts_id_set_current_post).\nThe active account can also be overridden for an authenticated request by passing the `x-auth-context` header.\n\n# Common List Resource Functionality\n\n## List Resource Requests\nVirtually all List endpoints (e.g. `GET /api/v1/demand_tags`) support the following via request query parameters:\n* Pagination via the `page` (first page is page `1`) and `per` (how many results per page, default is `50`, max is `1000`) query parameters.\n* Searching via the `search` query param\n* Sorting via the comma-delimited `sort` query param - e.g. `sort=name,-id` would sort by name ascending, then by id descending.  By default,\nonly first-level (directly on the entity, not on associations) attributes are sortable.  Some endpoints expose additional/custom orderable fields, \nwhich are documented with that endpoint.\n* Filtering via the query param `<attribute>=<value>` e.g. `id=3` for every first-level (not on associations) attribute on the entity.  Some\n  endpoints expose additional filters which are called out in the documentation for that endpoint.  You can also add an optional operator to the filter via the format `<attribute>::<operator>=<value>`, \n  e.g. `id::gt=3` to filter for ids greater than 3 or `updated_at::lte=2025-01-01` to filter for updated_at less than or equal to 2025-01-01.  \n  The following operators are supported:\n  * `::gt` - greater than\n  * `::gte` - greater than or equal to\n  * `::lt` - less than\n  * `::lte` - less than or equal to\n  * `::in` - in the comma-delimited list of values\n  * `::null` - attribute is null (`true` or `1`) or not null (`false` or `0`)\n* Inclusion of associated resources via the comma-delimited `includes` attribute. The common List Result body has `includable_fields` metadata\n  that tells you which associations are includable.  If not specified, a logical default set of associations are included.  You may pass\n  `includes=` as a blank entry to not include any associations, which can speed up API results if the associated data is not needed.\n* Inclusion of additional data (e.g. quickstats) via the `additional_data` query param.  Possible values come from the `additional_data_fields`\narray on a list response.\n\n## List Resource Responses\nVirtually all List endoints have the same result format:\n* `count` - how many results are in this response\n* `total_count` - how many results are their across all pages of results\n* `current_page` - the current page of results (first page is `1`)\n* `total_pages` - how many total pages of results there are\n* `includable_fields` - assocations of the current resource that `can` be included in the result via the `include` query param.  Note: this is not necessarily what is included\nin the current result, but rather what is possible to request.\n* `additional_data_fields` - additional data, beyond normal associations, that can be included on the result (e.g. quickstats) via the `additional_data` query param.\n* `results` - The array of resource results  \n\n# Common Show Resource Functionality\nMost endpoints to retrieve a single resource, e.g. `GET /api/v1/demand_tags` allow to include associated resources on the result via the same `includes` query\nparamater as the List requests.  See the List response the resource for which associations are includable.\n"
servers:
- url: https://console.springserve.com/api/v1
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v1
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
security:
- api_key: []
- bearer_token: []
tags:
- name: Report Templates
paths:
  /api/v1/reports/templates:
    get:
      tags:
      - Report Templates
      summary: Index
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/sortParam
      - $ref: ref/params.yaml#/components/parameters/searchParam
      - $ref: ref/params.yaml#/components/parameters/filterParams
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      operationId: reports_templates_get
    post:
      tags:
      - Report Templates
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reportTemplate'
            examples:
              report_template_create_simple:
                $ref: '#/components/examples/report_template_create_simple'
              report_template_create_full:
                $ref: '#/components/examples/report_template_create_full'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/reportTemplate'
        '422':
          description: ''
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/reportParameterError'
                - $ref: ref/errors.yaml#/components/schemas/validationError
      operationId: reports_templates_post
  /api/v1/reports/templates/{id}:
    get:
      tags:
      - Report Templates
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      summary: Show
      responses:
        '200':
          $ref: '#/components/responses/reportTemplate'
        '404':
          $ref: ref/errors.yaml#/components/responses/notFoundError
        '500':
          $ref: '#/components/responses/reportSerializationError'
      operationId: reports_templates_id_get
    patch:
      tags:
      - Report Templates
      summary: Update
      description: 'NOTE: This operation will overwrite and/or delete already existing parameters in the report template. Make sure

        that everything that should be in the report template is specified in the request body.

        '
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reportTemplate'
            examples:
              report_template_update_simple:
                $ref: '#/components/examples/report_template_update_simple'
              report_template_update_full:
                $ref: '#/components/examples/report_template_update_full'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/reportTemplate'
        '400':
          $ref: '#/components/responses/reportParameterError'
        '404':
          $ref: ref/errors.yaml#/components/responses/notFoundError
        '422':
          $ref: ref/errors.yaml#/components/responses/validationError
        '500':
          $ref: '#/components/responses/reportSerializationError'
      operationId: reports_templates_id_patch
    delete:
      tags:
      - Report Templates
      summary: Delete
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: No content
        '404':
          $ref: ref/errors.yaml#/components/responses/notFoundError
      operationId: reports_templates_id_delete
  /api/v1/reports/templates/{id}/set_default:
    post:
      tags:
      - Report Templates
      summary: Set as default
      description: 'Sets the authenticated user''s default report template to this template.

        '
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success with an empty body.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: ref/errors.yaml#/components/responses/notFoundError
        '422':
          $ref: ref/errors.yaml#/components/responses/validationError
      operationId: reports_templates_id_set_default_post
components:
  schemas:
    reportParameterError:
      type: object
      properties:
        error:
          type: string
          examples:
          - 'Could not parse report parameters: ...'
    reportSerializationError:
      type: object
      properties:
        error:
          type: string
          examples:
          - 'Could not serialize report template with /api/v1 format: ...'
    reportTemplate:
      allOf:
      - $ref: ref/reports.yaml#/components/schemas/reportParameters
      - type: object
        properties:
          id:
            type: integer
            readOnly: true
          name:
            type: string
          description:
            type: string
          created_at:
            type: string
            readOnly: true
          updated_at:
            type: string
            readOnly: true
      examples:
      - id: 1
        name: Example Report Template
        date_range: Yesterday
        interval: null
        dimensions:
        - supply_partner_id
        - supply_tag_id
        filters:
        - dimension: supply_partner_id
          type: values
          values:
          - 1
          - 2
          - 3
          is_include: true
          is_exact_match: false
        metrics:
        - usable_requests
  examples:
    report_template_create_simple:
      summary: Simple
      value:
        name: Report Template Name
        date_range: Yesterday
        dimensions:
        - supply_partner_id
        metrics:
        - usable_requests
    report_template_update_simple:
      summary: Simple
      value:
        name: Report Template Name
    report_template_create_full:
      summary: Full
      value:
        name: Report Template Name
        description: My report template
        date_range: Last 7 Days
        interval: day
        interval_start_day: monday
        timezone: America/New_York
        currency: USD
        dimensions:
        - supply_partner_id
        - supply_tag_id
        metrics:
        - usable_requests
        - fill_rate
        filters:
        - dimension: supply_partner_id
          type: values
          values:
          - 1
          is_include: true
          is_exact_match: false
        having:
        - metric: usable_requests
          max: false
          value: 1
    report_template_update_full:
      summary: Full
      value:
        name: Report Template Name
        description: Updated report template
        date_range: Last 7 Days
        interval: day
        interval_start_day: monday
        timezone: America/New_York
        currency: USD
        dimensions:
        - supply_partner_id
        - supply_tag_id
        metrics:
        - usable_requests
        - fill_rate
        filters:
        - dimension: supply_partner_id
          type: values
          values:
          - 1
          is_include: true
          is_exact_match: false
  responses:
    reportParameterError:
      description: Report Parameter Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/reportParameterError'
    reportSerializationError:
      description: Report Serialization Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/reportSerializationError'
    reportTemplate:
      description: A report template
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/reportTemplate'
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: SpringServe authorization token based authentication.
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SpringServe authorization bearer token based authentication.  This key is included in the response from the /api/v0/auth and /api/v1/auth endpoints.  This key will be automatically set if you run the example for /api/v0/auth or /api/v1/auth
x-servers-added-by: https://apievangelist.com — not present in the upstream document; see openapi/_original/ for the verbatim spec.
