openapi: 3.2.0
info:
  title: Rubicon Project Demand Tags API
  version: '1.0'
  description: 'Operations tagged Demand Tags across 2 of this provider''s published API definitions: rubicon-project-springserve-v0-openapi.yml, rubicon-project-springserve-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://console.springserve.com/api/v0
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v0
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
- url: https://console.springserve.com/api/v1
  description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
- url: https://console.clearline.magnite.com/api/v1
  description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
security:
- api_key: []
- bearer_token: []
tags:
- name: Demand Tags
paths:
  /api/v0/demand_tags:
    get:
      summary: Index
      description: Get demand tags based on multiple conditions
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of demand tags
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Demand Tags
      operationId: demand_tags_get
    post:
      summary: Create
      description: Creating a Demand Tag
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              tag_simple:
                $ref: '#/components/examples/demand_tag_tag_create_simple'
              tag_full:
                $ref: '#/components/examples/demand_tag_tag_create_full'
              bidder_simple:
                $ref: '#/components/examples/demand_tag_bidder_create_simple'
              bidder_full:
                $ref: '#/components/examples/demand_tag_bidder_create_full'
              line_item_simple:
                $ref: '#/components/examples/demand_tag_line_item_create_simple'
              line_item_full:
                $ref: '#/components/examples/demand_tag_line_item_create_full'
              house_ad_simple:
                $ref: '#/components/examples/demand_tag_house_ad_create_simple'
              house_ad_full:
                $ref: '#/components/examples/demand_tag_house_ad_create_full'
              dsp_sub_line_item_simple:
                $ref: '#/components/examples/demand_tag_dsp_sub_line_item_create_simple'
              dsp_sub_line_item_full:
                $ref: '#/components/examples/demand_tag_dsp_sub_line_item_create_full'
              marketplace_deal_simple:
                $ref: '#/components/examples/demand_tag_marketplace_deal_create_simple'
              marketplace_deal_full:
                $ref: '#/components/examples/demand_tag_marketplace_deal_create_full'
        required: true
      responses:
        '201':
          description: Created demand tag
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                id: 30424
                name: TEST API DOCS
                rate: '0.01'
                demand_partner_id: 1764
                vast_endpoint_url: https://staging-tv.springserve.com/vast
      tags:
      - Demand Tags
      operationId: demand_tags_post
    servers:
    - url: https://console.springserve.com/api/v0
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v0
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v0/demand_tags/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Show
      description: Get a demand tag by id
      responses:
        '200':
          description: Demand tag details
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                id: 30424
                name: TEST API DOCS
                rate: '0.01'
                demand_partner_id: 1764
                vast_endpoint_url: https://staging-tv.springserve.com/vast
      tags:
      - Demand Tags
      operationId: demand_tags_id_get
    put:
      summary: Update
      description: Edit a Demand Tag (e.g. name, or budgets). See Clearline Demand Tag Budgets API docs for budget fields.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                advanced_floor_rules:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      dimension:
                        type: string
                        enum:
                        - adomain
                        - duration
                        - country
                        - iab_tier_1
                        - iab_tier_2
                      values:
                        type: array
                        items:
                          type: string
                      floor_price:
                        type: number
            examples:
              simple:
                $ref: '#/components/examples/demand_tag_update_simple'
              full:
                $ref: '#/components/examples/demand_tag_update_full'
      responses:
        '200':
          description: Updated demand tag
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                demand_partner_id: 1764
                id: 30424
                name: I want to change the name
                rate: '0.01'
                vast_endpoint_url: https://staging-tv.springserve.com/vast
      tags:
      - Demand Tags
      operationId: demand_tags_id_put
    delete:
      summary: Destroy
      description: Delete a demand tag
      responses:
        '204':
          description: No content
      tags:
      - Demand Tags
      operationId: demand_tags_id_delete
    servers:
    - url: https://console.springserve.com/api/v0
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v0
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v0/demand_tags/{demand_tag_id}/demand_tag_keys:
    get:
      summary: Index
      description: List demand tag keys for a demand tag
      parameters:
      - name: demand_tag_id
        in: path
        required: true
        schema:
          type: string
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      responses:
        '200':
          description: List of demand tag keys
          content:
            application/json:
              schema:
                $ref: ref/schemas.yaml#/components/schemas/ListResponse
      tags:
      - Demand Tags
      operationId: demand_tags_demand_tag_id_demand_tag_keys_get
    post:
      summary: Create
      parameters:
      - name: demand_tag_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              demand_tag_key_create_simple:
                $ref: '#/components/examples/demand_tag_key_create_simple'
              demand_tag_key_create_full:
                $ref: '#/components/examples/demand_tag_key_create_full'
        required: true
      responses:
        '201':
          description: Created demand tag key
          content:
            application/json:
              schema:
                type: object
      tags:
      - Demand Tags
      operationId: demand_tags_demand_tag_id_demand_tag_keys_post
    servers:
    - url: https://console.springserve.com/api/v0
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v0
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v0/demand_tags/{id}/duplicate:
    get:
      summary: Duplicate
      description: Duplicate a Demand Tag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Duplicated demand tag
          content:
            application/json:
              schema:
                type: object
              example:
                account_id: 1
                active: true
                demand_partner_id: 1764
                id: 72302
                name: I want to change the name (copy)
                rate: '0.01'
                vast_endpoint_url: https://staging-tv.springserve.com/vast
      tags:
      - Demand Tags
      operationId: demand_tags_id_duplicate_get
    servers:
    - url: https://console.springserve.com/api/v0
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v0
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v0/demand_tags/{demand_tag_id}/demand_tag_keys/{id}:
    get:
      summary: Show
      parameters:
      - name: demand_tag_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Demand tag key details
          content:
            application/json:
              schema:
                type: object
      tags:
      - Demand Tags
      operationId: demand_tags_demand_tag_id_demand_tag_keys_id_get
    put:
      summary: Update
      parameters:
      - name: demand_tag_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              demand_tag_key_update_simple:
                $ref: '#/components/examples/demand_tag_key_update_simple'
              demand_tag_key_update_full:
                $ref: '#/components/examples/demand_tag_key_update_full'
      responses:
        '200':
          description: Updated demand tag key
          content:
            application/json:
              schema:
                type: object
      tags:
      - Demand Tags
      operationId: demand_tags_demand_tag_id_demand_tag_keys_id_put
    delete:
      summary: Destroy
      parameters:
      - name: demand_tag_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
      tags:
      - Demand Tags
      operationId: demand_tags_demand_tag_id_demand_tag_keys_id_delete
    servers:
    - url: https://console.springserve.com/api/v0
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v0
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags:
    get:
      summary: Index
      description: List all Demand Tags
      parameters:
      - $ref: ref/params.yaml#/components/parameters/pageParam
      - $ref: ref/params.yaml#/components/parameters/perParam
      - $ref: ref/params.yaml#/components/parameters/sortParam
      - $ref: ref/params.yaml#/components/parameters/searchParam
      - $ref: ref/params.yaml#/components/parameters/filterParams
      - $ref: ref/params.yaml#/components/parameters/includeParam
      - $ref: ref/params.yaml#/components/parameters/idsParam
      - $ref: '#/components/parameters/additionalDataParam'
      - name: date_range
        in: query
        schema:
          $ref: ./ref/quickstats.yaml#/components/schemas/dateRange
      - name: currency
        in: query
        schema:
          $ref: ./ref/concerns/currency.yaml#/components/schemas/CurrencyList
      - name: demand_label_id
        in: query
        description: 'Narrow results to demand tags linked to this demand label through demand_labelers

          (parity with the legacy demand tags index label filter). Invalid or zero values yield

          an empty result set.

          '
        schema:
          type: integer
      - name: demand_tag_status
        in: query
        description: 'Filter by demand tag status (legacy index parity). Values: active, inactive, new,

          reactivated. Unknown values return an empty result set. DSP sub-accounts only

          support active and inactive; other values return 400.

          '
        schema:
          type: string
          enum:
          - active
          - inactive
          - new
          - reactivated
      - name: demand_type
        in: query
        description: 'Filter by demand type slug (legacy demand class filter). Values include managed, dc, hb,

          creative, house_ad, line_item, programmatic_guaranteed, direct_io, direct_io_line_item.

          Unknown values return an empty result set.

          '
        schema:
          type: string
      - name: supply_environment
        in: query
        description: 'Filter by supply environment on the demand tag. Use `any` for legacy "Any"

          (direct-connect environment or unset). Named `supply_environment` to avoid clashing

          with the default column equality filter on `environment`.

          '
        schema:
          type: string
      - name: ad_server
        in: query
        description: 'Filter by ad server bucket (legacy index parity): springserve, other, a header-bidding

          platform key, or a VAST URL match string from configured ad servers.

          '
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemandTagIndexResponse'
      tags:
      - Demand Tags
      operationId: demand_tags_get
    post:
      summary: Create
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DemandTagCreateRequest'
            examples:
              tag_simple:
                $ref: '#/components/examples/demand_tag_tag_create_simple_2'
              tag_full:
                $ref: '#/components/examples/demand_tag_tag_create_full_2'
              bidder_simple:
                $ref: '#/components/examples/demand_tag_bidder_create_simple_2'
              bidder_full:
                $ref: '#/components/examples/demand_tag_bidder_create_full_2'
              line_item_simple:
                $ref: '#/components/examples/demand_tag_line_item_create_simple_2'
              line_item_full:
                $ref: '#/components/examples/demand_tag_line_item_create_full_2'
              house_ad_simple:
                $ref: '#/components/examples/demand_tag_house_ad_create_simple_2'
              house_ad_full:
                $ref: '#/components/examples/demand_tag_house_ad_create_full_2'
              dsp_sub_line_item_simple:
                $ref: '#/components/examples/demand_tag_dsp_sub_line_item_create_simple_2'
              dsp_sub_line_item_full:
                $ref: '#/components/examples/demand_tag_dsp_sub_line_item_create_full_2'
              marketplace_deal_simple:
                $ref: '#/components/examples/demand_tag_marketplace_deal_create_simple_2'
              marketplace_deal_full:
                $ref: '#/components/examples/demand_tag_marketplace_deal_create_full_2'
              direct_io_line_item_simple:
                $ref: '#/components/examples/demand_tag_direct_io_line_item_create_simple'
              direct_io_line_item_full:
                $ref: '#/components/examples/demand_tag_direct_io_line_item_create_full'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemandTagResponse'
        '422':
          $ref: ref/errors.yaml#/components/responses/validationError
      tags:
      - Demand Tags
      operationId: demand_tags_post
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/{id}:
    get:
      summary: Show
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: ref/params.yaml#/components/parameters/includeParam
      - $ref: '#/components/parameters/additionalDataParam'
      - name: date_range
        in: query
        schema:
          $ref: ./ref/quickstats.yaml#/components/schemas/dateRange
      - name: currency
        in: query
        schema:
          $ref: ./ref/concerns/currency.yaml#/components/schemas/CurrencyList
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemandTagResponse'
        '404':
          $ref: ref/errors.yaml#/components/responses/notFoundError
      tags:
      - Demand Tags
      operationId: demand_tags_id_get
    patch:
      summary: Update
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                advanced_floor_rules:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      dimension:
                        type: string
                        enum:
                        - adomain
                        - duration
                        - country
                        - iab_tier_1
                        - iab_tier_2
                      values:
                        type: array
                        items:
                          type: string
                      floor_price:
                        type: number
            examples:
              simple:
                $ref: '#/components/examples/demand_tag_update_simple_2'
              full:
                $ref: '#/components/examples/demand_tag_update_full_2'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Demand Tags
      operationId: demand_tags_id_patch
    delete:
      summary: Delete
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: V1 API Updated name
            schema:
              type: object
        required: true
      responses:
        '204':
          description: No content
      tags:
      - Demand Tags
      operationId: demand_tags_id_delete
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/bulk_update:
    post:
      summary: Update Multiple Demand Tags
      description: Update multiple demand tags with the same attributes in a single request. Returns different status codes based on success/failure ratio.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - type: object
                  required:
                  - object_ids
            examples:
              single:
                $ref: '#/components/examples/demand_tag_bulk_update_same_single'
              multiple:
                $ref: '#/components/examples/demand_tag_bulk_update_same_multiple'
      responses:
        '200':
          description: Bulk update completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Status message describing the bulk update results
                examples:
                - message: 'Successfully updated 2 Demand Tags: 2, 3'
        '400':
          description: Bad request - invalid request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  error:
                    type: string
                examples:
                - status: 400
                  error: Bad Request
      tags:
      - Demand Tags
      operationId: demand_tags_bulk_update_same_attributes_post
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/download:
    get:
      summary: Download CSV
      description: Download a CSV file with demand tag information for the specified demand tag IDs
      parameters:
      - name: ids
        in: query
        description: Comma-separated list of demand tag IDs, or array of demand tag IDs
        required: true
        schema:
          oneOf:
          - type: string
          - type: array
            items:
              type: integer
      - name: filename
        in: query
        description: Optional custom filename for the CSV download
        required: false
        schema:
          type: string
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - No demand tag IDs provided
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
      tags:
      - Demand Tags
      operationId: demand_tags_download_get
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/macro_suggester:
    post:
      summary: Suggest VAST endpoint macros
      description: Returns a macro-filled VAST endpoint URL and resolved ad_server_id for demand tag endpoint settings. Does not create or update a demand tag.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MacroSuggesterRequest'
            examples:
              simple:
                $ref: '#/components/examples/demand_tag_macro_suggester_simple'
              full:
                $ref: '#/components/examples/demand_tag_macro_suggester_full'
      responses:
        '200':
          description: Suggested VAST URL and ad server id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MacroSuggesterResponse'
      tags:
      - Demand Tags
      operationId: demand_tags_macro_suggester_post
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/new:
    get:
      summary: Get defaults for a new Demand Tag
      description: Returns the default values for a new Demand Tag.
      parameters:
      - name: demand_partner_id
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Optional param to add demand_partner_id on the new Demand Tag defaults.
      - name: campaign_id
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Optional param to add campaign_id on the new Default Tag defaults. Also populates demand_partner_id from the campaign if demand_partner_id is omitted.
      - $ref: ref/params.yaml#/components/parameters/includeParam
      responses:
        '200':
          description: Demand Tag defaults
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemandTagResponse'
      tags:
      - Demand Tags
      operationId: demand_tags_new_get
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/permissions:
    get:
      summary: Permissions Collection
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Demand Tags
      operationId: demand_tags_permissions_get
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/{id}/creatives_summary:
    get:
      summary: Creatives Summary
      description: "Get reporting data for a campaign with comparison metrics. Returns raw numeric values with percentage changes \nfor all metrics. When forecast_date_range is provided, also returns forecast_summary\nand combined_summary.\n"
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Demand Tag ID
      - $ref: ref/params.yaml#/components/parameters/quickstatsDateRangeParam
      - $ref: ref/params.yaml#/components/parameters/quickstatsForecastDateRangeParam
      - $ref: ref/params.yaml#/components/parameters/quickstatsCurrencyParam
      responses:
        '200':
          $ref: ref/quickstats.yaml#/components/responses/QuickstatsSummaryResponse
      tags:
      - Demand Tags
      operationId: demand_tags_id_creatives_summary_get
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/{id}/duplicate:
    get:
      summary: Duplicate Demand Tag
      description: Returns the default values for a new Demand Tag, copied from an existing Demand Tag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - $ref: ref/params.yaml#/components/parameters/includeParam
      responses:
        '200':
          description: Demand Tag defaults, copied from an existing Demand Tag
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemandTagResponse'
        '404':
          $ref: ref/errors.yaml#/components/responses/notFoundError
      tags:
      - Demand Tags
      operationId: demand_tags_id_duplicate_get
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/{id}/permissions:
    get:
      summary: Permissions Member
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Demand Tags
      operationId: demand_tags_id_permissions_get
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/bulk/update:
    post:
      summary: Update Multiple Demand Tags
      description: Update multiple demand tags independently in a single request. Returns different status codes based on success/failure ratio.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - type: object
                  required:
                  - id
            examples:
              single:
                $ref: '#/components/examples/demand_tag_bulk_update_many_single'
              multiple:
                $ref: '#/components/examples/demand_tag_bulk_update_many_multiple'
      responses:
        '204':
          description: All updates successful
        '200':
          description: Partial success - some objects updated successfully, others failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                examples:
                - errors:
                    '1':
                    - Name cannot be blank
                    other:
                    - Object at index 2 is missing an ID
        '400':
          description: Bad request - no objects provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                examples:
                - error: No objects provided
        '422':
          description: All updates failed - no objects were updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                examples:
                - errors:
                    '1':
                    - Name cannot be blank
                    '2':
                    - Rate must be greater than 0
                    other:
                    - Object at index 3 is missing an ID
      tags:
      - Demand Tags
      operationId: demand_tags_bulk_update_many_post
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
  /api/v1/demand_tags/new_from_forecast/{id}:
    get:
      summary: New From Demand Forecast
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: include
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Demand Tags
      operationId: demand_tags_new_from_forecast_id_get
    servers:
    - url: https://console.springserve.com/api/v1
      description: SpringServe console. Added by API Evangelist from the published documentation (springserve.atlassian.net/wiki/spaces/SSD/pages/1573617663/API+-+Getting+Started, "Base Url https://console.springserve.com/"); the document Magnite serves declares no servers[] block because the Swagger UI infers the host from window.location.
    - url: https://console.clearline.magnite.com/api/v1
      description: ClearLine console. The identical contract is served from ClearLine's own host; base URL published at springserve.atlassian.net/wiki/spaces/CLD/pages/3649929217/Clearline+API+SDK.
components:
  examples:
    demand_tag_house_ad_create_full:
      summary: House Ad Full
      value:
        name: Demand Tag Name
        demand_class: 8
        demand_partner_id: 1
        creative_id: 1
        creative_landing_page_url: https://ad.example.com/landing
        allowed_player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        app_name_targeting: Allowlist
        app_name_list_ids:
        - 1
        app_bundle_targeting: Allowlist
        app_bundle_list_ids:
        - 1
        ip_targeting: Allowlist
        ip_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        state_targeting: Include
        state_source: list
        state_list_ids:
        - 1
        city_targeting: Include
        city_source: list
        city_list_ids:
        - 1
        metro_area_targeting: Include
        metro_area_source: list
        metro_area_list_ids:
        - 1
        postal_code_targeting: Include
        postal_code_source: list
        postal_code_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        targeted_macros_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        budget_timezone: America/New_York
        daa_ad_choices: true
        device_id_required: true
        active: true
        note: Demand Tag note
    demand_tag_tag_create_simple:
      summary: Tag Simple
      value:
        name: Demand Tag Name
        demand_class: 1
        demand_partner_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        vast_endpoint_url: https://staging-tv.springserve.com/vast
        rate: 1.11
    demand_tag_tag_create_full:
      summary: Tag Full
      value:
        name: Demand Tag Name
        demand_class: 1
        demand_partner_id: 1
        campaign_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        secondary_code: secondary
        vast_endpoint_url: https://staging-tv.springserve.com/vast
        timeout: 1
        cost_model_type: 0
        multi_call_enabled: false
        multi_call_maximum: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        app_name_targeting: Allowlist
        app_name_list_ids:
        - 1
        app_bundle_targeting: Allowlist
        app_bundle_list_ids:
        - 1
        ip_targeting: Allowlist
        ip_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        state_targeting: Include
        state_source: list
        state_list_ids:
        - 1
        city_targeting: Include
        city_source: list
        city_list_ids:
        - 1
        metro_area_targeting: Include
        metro_area_source: list
        metro_area_list_ids:
        - 1
        postal_code_targeting: Include
        postal_code_source: list
        postal_code_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        targeted_macros_enabled: true
        advertiser_domain_white_list: true
        advertiser_domain_list_ids:
        - 1
        blocking_unknown_advertiser_domains: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        booked_revenue: 1.11
        budget_timezone: America/New_York
        share_of_voice_goal_percent: 1
        day_parting_users_timezone: true
        pre_bid_blocking_enabled: true
        post_imp_detection_enabled: true
        post_imp_percentage_whiteops: 1
        post_imp_percentage_ias: 1
        post_imp_percentage_moat: 1
        realtime_viewability: true
        respect_pod_order: true
        daa_ad_choices: true
        device_id_required: true
        skip_enabled: true
        skip_offset: 1
        suppress_xff_ip: true
        active: true
        note: Demand Tag note
    demand_tag_update_full:
      summary: Full
      value:
        name: Demand Tag Name
        campaign_id: 1
        creative_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        environment: desktop
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        booked_revenue: 1.11
        budget_timezone: America/New_York
        non_billable_fees:
        - cost_basis: impressions
          value: 1.11
          currency: USD
        advanced_floor_rules:
        - dimension: adomain
          values:
          - example.com
          floor_price: 1.11
        daa_ad_choices: true
        device_id_required: true
        is_reserved: false
        active: true
        note: Demand Tag note
    demand_tag_key_update_simple:
      summary: Simple
      value:
        demand_tag_key_type: values
        value_ids:
        - 1
    demand_tag_marketplace_deal_create_simple:
      summary: Marketplace Deal Simple
      value:
        name: Demand Tag Name
        demand_class: 12
        demand_partner_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        curator_fee_type: revshare
        demand_tag_priorities:
        - supply_tag_id: 1
        rate: 1.11
    demand_tag_dsp_sub_line_item_create_simple:
      summary: DSP Sub Line Item Simple
      value:
        name: Demand Tag Name
        demand_class: 11
        demand_partner_id: 1
        campaign_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        bid_floor_type: static
        buying_model: private_market
        rate: 1.11
    demand_tag_house_ad_create_simple:
      summary: House Ad Simple
      value:
        name: Demand Tag Name
        demand_class: 8
        demand_partner_id: 1
        creative_id: 1
        creative_landing_page_url: https://ad.example.com/landing
        allowed_player_sizes:
        - s
        - m
        - l
    demand_tag_bidder_create_full:
      summary: Bidder Full
      value:
        name: Demand Tag Name
        demand_class: 3
        demand_partner_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        bid_platform: magnite
        bid_params:
          seat_id: '1'
        bid_floor_type: static
        bid_margin: 1.11
        allow_tier_breakout: false
        breakout_bid: 1.11
        override_supply_floor: false
        partner_tier_override_enabled: true
        partner_tier_override: '1'
        multi_call_enabled: false
        multi_call_maximum: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        budget_timezone: America/New_York
        pre_bid_blocking_enabled: true
        post_imp_detection_enabled: true
        realtime_viewability: true
        daa_ad_choices: true
        device_id_required: true
        active: true
        note: Demand Tag note
    demand_tag_dsp_sub_line_item_create_full:
      summary: DSP Sub Line Item Full
      value:
        name: Demand Tag Name
        demand_class: 11
        demand_partner_id: 1
        campaign_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        buying_model: private_market
        bid_floor_type: static
        bid_margin: 1.11
        campaign_tier: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        isp_source: list
        isp_list_ids:
        - 1
        isp_names:
        - '1'
        key_value_targeting: true
        segment_targeting_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        booked_revenue: 1.11
        cost_model_type: 0
        budget_timezone: America/New_York
        guaranteed_delivery: false
        start_date: '2026-01-01'
        end_date: '2026-12-31'
        flight_dates_timezone: America/New_York
        daa_ad_choices: true
        device_id_required: true
        is_reserved: false
        active: true
        note: Demand Tag note
    demand_tag_line_item_create_simple:
      summary: Line Item Simple
      value:
        name: Demand Tag Name
        demand_class: 11
        demand_partner_id: 1
        campaign_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        rate: 1.11
    demand_tag_bidder_create_simple:
      summary: Bidder Simple
      value:
        name: Demand Tag Name
        demand_class: 3
        demand_partner_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        bid_platform: magnite
        bid_floor_type: static
        rate: 1.11
    demand_tag_line_item_create_full:
      summary: Line Item Full
      value:
        name: Demand Tag Name
        demand_class: 11
        demand_partner_id: 1
        campaign_id: 1
        creative_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        line_item_ratios:
        - creative_id: 1
          ratio: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        app_name_targeting: Allowlist
        app_name_list_ids:
        - 1
        app_bundle_targeting: Allowlist
        app_bundle_list_ids:
        - 1
        ip_targeting: Allowlist
        ip_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        state_targeting: Include
        state_source: list
        state_list_ids:
        - 1
        city_targeting: Include
        city_source: list
        city_list_ids:
        - 1
        metro_area_targeting: Include
        metro_area_source: list
        metro_area_list_ids:
        - 1
        postal_code_targeting: Include
        postal_code_source: list
        postal_code_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        targeted_macros_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        booked_revenue: 1.11
        cost_model_type: 0
        budget_timezone: America/New_York
        share_of_voice_goal_percent: 1
        guaranteed_delivery: false
        guaranteed_tier: '1'
        start_date: '2026-01-01'
        end_date: '2026-12-31'
        flight_dates_timezone: America/New_York
        price_extension_enabled: false
        daa_ad_choices: true
        device_id_required: true
        is_reserved: false
        active: true
        note: Demand Tag note
    demand_tag_key_update_full:
      summary: Full
      value:
        group: Demand Tag Key Name
        demand_tag_key_type: values
        list_type: white_list
        key_required: true
        value_ids:
        - 1
        free_values: []
        value_list_ids: []
    demand_tag_key_create_full:
      summary: Full
      value:
        key_id: 1
        group: Demand Tag Key Name
        demand_tag_key_type: values
        list_type: white_list
        key_required: true
        value_ids:
        - 1
        free_values: []
        value_list_ids: []
    demand_tag_marketplace_deal_create_full:
      summary: Marketplace Deal Full
      value:
        name: Demand Tag Name
        demand_class: 12
        demand_partner_id: 1
        allowed_player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        demand_tag_priorities:
        - supply_tag_id: 1
          priority: 1
          tier: 1
          ratio: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        curator_fee_type: revshare
        curator_fee_currency: USD
        budget_timezone: America/New_York
        daa_ad_choices: true
        device_id_required: true
        active: true
        note: Demand Tag note
    demand_tag_update_simple:
      summary: Simple
      value:
        name: Demand Tag Name
        rate: 1.11
        active: true
    demand_tag_key_create_simple:
      summary: Simple
      value:
        key_id: 1
        group: Demand Tag Key Name
        demand_tag_key_type: values
        list_type: white_list
        value_ids:
        - 1
    demand_tag_bulk_update_same_single:
      summary: Single
      value:
        object_ids:
        - 1
        is_active: true
    demand_tag_tag_create_full_2:
      summary: Tag Full
      value:
        name: Demand Tag Name
        demand_class: 1
        demand_partner_id: 1
        campaign_id: 1
        player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        secondary_code: secondary
        vast_endpoint_url: https://staging-tv.springserve.com/vast
        timeout: 1
        cost_model_type: 0
        multi_call_enabled: false
        multi_call_maximum: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        app_name_targeting: Allowlist
        app_name_list_ids:
        - 1
        app_bundle_targeting: Allowlist
        app_bundle_list_ids:
        - 1
        ip_targeting: Allowlist
        ip_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        state_targeting: Include
        state_source: list
        state_list_ids:
        - 1
        city_targeting: Include
        city_source: list
        city_list_ids:
        - 1
        metro_area_targeting: Include
        metro_area_source: list
        metro_area_list_ids:
        - 1
        postal_code_targeting: Include
        postal_code_source: list
        postal_code_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        targeted_macros_enabled: true
        advertiser_domain_white_list: true
        advertiser_domain_list_ids:
        - 1
        blocking_unknown_advertiser_domains: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        booked_revenue: 1.11
        budget_timezone: America/New_York
        share_of_voice_goal_percent: 1
        day_parting_users_timezone: true
        pre_bid_blocking_enabled: true
        post_imp_detection_enabled: true
        post_imp_percentage_whiteops: 1
        post_imp_percentage_ias: 1
        post_imp_percentage_moat: 1
        realtime_viewability: true
        respect_pod_order: true
        daa_ad_choices: true
        device_id_required: true
        skip_enabled: true
        skip_offset: 1
        suppress_xff_ip: true
        is_active: true
        note: Demand Tag note
    demand_tag_marketplace_deal_create_simple_2:
      summary: Marketplace Deal Simple
      value:
        name: Demand Tag Name
        demand_class: 12
        demand_partner_id: 1
        curator_fee_type: revshare
        demand_tag_priorities:
        - supply_tag_id: 1
        rate: 1.11
    demand_tag_house_ad_create_simple_2:
      summary: House Ad Simple
      value:
        name: Demand Tag Name
        demand_class: 8
        demand_partner_id: 1
        creative_id: 1
        creative_landing_page_url: https://ad.example.com/landing
    demand_tag_bulk_update_same_multiple:
      summary: Multiple
      value:
        object_ids:
        - 1
        - 2
        is_active: true
        rate: 1.11
        demand_partner_id: 1
        min_bid_price: 1.11
        max_bid_price: 1.11
    demand_tag_marketplace_deal_create_full_2:
      summary: Marketplace Deal Full
      value:
        name: Demand Tag Name
        demand_class: 12
        demand_partner_id: 1
        player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        demand_tag_priorities:
        - supply_tag_id: 1
          priority: 1
          tier: 1
          ratio: 1
        marketplace_buyers:
        - inventory_source: '1'
          dsp_id: 1
          buyer_ids:
          - 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        curator_fee_type: revshare
        curator_fee_currency: USD
        curator_fees:
        - fee_value: 1.11
          cpm_price: 1.11
          cpm_currency: USD
        auction_type: first price
        budget_timezone: America/New_York
        daa_ad_choices: true
        device_id_required: true
        is_active: true
        note: Demand Tag note
    demand_tag_macro_suggester_simple:
      summary: Simple
      value:
        vast_endpoint_url: https://staging-tv.springserve.com/vast
    demand_tag_house_ad_create_full_2:
      summary: House Ad Full
      value:
        name: Demand Tag Name
        demand_class: 8
        demand_partner_id: 1
        creative_id: 1
        creative_landing_page_url: https://ad.example.com/landing
        player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        app_name_targeting: Allowlist
        app_name_list_ids:
        - 1
        app_bundle_targeting: Allowlist
        app_bundle_list_ids:
        - 1
        ip_targeting: Allowlist
        ip_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        state_targeting: Include
        state_source: list
        state_list_ids:
        - 1
        city_targeting: Include
        city_source: list
        city_list_ids:
        - 1
        metro_area_targeting: Include
        metro_area_source: list
        metro_area_list_ids:
        - 1
        postal_code_targeting: Include
        postal_code_source: list
        postal_code_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        targeted_macros_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        budget_timezone: America/New_York
        daa_ad_choices: true
        device_id_required: true
        is_active: true
        note: Demand Tag note
    demand_tag_line_item_create_full_2:
      summary: Line Item Full
      value:
        name: Demand Tag Name
        demand_class: 11
        demand_partner_id: 1
        campaign_id: 1
        creative_id: 1
        player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        line_item_ratios:
        - creative_id: 1
          ratio: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        app_name_targeting: Allowlist
        app_name_list_ids:
        - 1
        app_bundle_targeting: Allowlist
        app_bundle_list_ids:
        - 1
        ip_targeting: Allowlist
        ip_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        state_targeting: Include
        state_source: list
        state_list_ids:
        - 1
        city_targeting: Include
        city_source: list
        city_list_ids:
        - 1
        metro_area_targeting: Include
        metro_area_source: list
        metro_area_list_ids:
        - 1
        postal_code_targeting: Include
        postal_code_source: list
        postal_code_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        targeted_macros_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        booked_revenue: 1.11
        cost_model_type: 0
        budget_timezone: America/New_York
        share_of_voice_goal_percent: 1
        guaranteed_delivery: false
        guaranteed_tier: '1'
        start_date: '2026-01-01'
        end_date: '2026-12-31'
        flight_dates_timezone: America/New_York
        price_extension_enabled: false
        daa_ad_choices: true
        device_id_required: true
        is_reserved: false
        is_active: true
        note: Demand Tag note
    demand_tag_update_simple_2:
      summary: Simple
      value:
        name: Demand Tag Name
        rate: 1.11
        is_active: true
    demand_tag_direct_io_line_item_create_full:
      summary: Direct IO Line Item Full
      value:
        name: Demand Tag Name
        demand_class: 14
        demand_partner_id: 1
        campaign_id: 1
        creative_id: 1
        direct_io_supply_partner_id: 1
        player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        line_item_ratios:
        - creative_id: 1
          ratio: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        booked_revenue: 1.11
        cost_model_type: 0
        budget_timezone: America/New_York
        guaranteed_delivery: false
        start_date: '2026-01-01'
        end_date: '2026-12-31'
        flight_dates_timezone: America/New_York
        daa_ad_choices: true
        device_id_required: true
        is_reserved: false
        is_active: true
        note: Demand Tag note
    demand_tag_update_full_2:
      summary: Full
      value:
        name: Demand Tag Name
        campaign_id: 1
        creative_id: 1
        player_sizes:
        - s
        - m
        - l
        environment: desktop
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        booked_revenue: 1.11
        budget_timezone: America/New_York
        non_billable_fees:
        - cost_basis: impressions
          value: 1.11
          currency: USD
        advanced_floor_rules:
        - dimension: adomain
          values:
          - example.com
          floor_price: 1.11
        daa_ad_choices: true
        device_id_required: true
        is_reserved: false
        is_active: true
        note: Demand Tag note
    demand_tag_dsp_sub_line_item_create_full_2:
      summary: DSP Sub Line Item Full
      value:
        name: Demand Tag Name
        demand_class: 11
        demand_partner_id: 1
        campaign_id: 1
        player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        buying_model: private_market
        bid_floor_type: static
        bid_margin: 1.11
        campaign_tier: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        isp_source: list
        isp_list_ids:
        - 1
        isp_names:
        - '1'
        key_value_targeting: true
        segment_targeting_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        booked_revenue: 1.11
        cost_model_type: 0
        budget_timezone: America/New_York
        guaranteed_delivery: false
        start_date: '2026-01-01'
        end_date: '2026-12-31'
        flight_dates_timezone: America/New_York
        daa_ad_choices: true
        device_id_required: true
        is_reserved: false
        is_active: true
        note: Demand Tag note
    demand_tag_bulk_update_many_single:
      summary: Single
      value:
      - id: 1
        name: Demand Tag Name
        is_active: true
    demand_tag_macro_suggester_full:
      summary: Full
      value:
        vast_endpoint_url: https://staging-tv.springserve.com/vast
        ad_server_id: 1
        environment: ctv
        include_all: false
    demand_tag_bulk_update_many_multiple:
      summary: Multiple
      value:
      - id: 1
        name: Demand Tag Name
        rate: 1.11
        is_active: true
      - id: 2
        name: Demand Tag Name
        rate: 1.11
        is_active: false
    demand_tag_tag_create_simple_2:
      summary: Tag Simple
      value:
        name: Demand Tag Name
        demand_class: 1
        demand_partner_id: 1
        vast_endpoint_url: https://staging-tv.springserve.com/vast
        rate: 1.11
    demand_tag_dsp_sub_line_item_create_simple_2:
      summary: DSP Sub Line Item Simple
      value:
        name: Demand Tag Name
        demand_class: 11
        demand_partner_id: 1
        campaign_id: 1
        bid_floor_type: static
        buying_model: private_market
        rate: 1.11
    demand_tag_line_item_create_simple_2:
      summary: Line Item Simple
      value:
        name: Demand Tag Name
        demand_class: 11
        demand_partner_id: 1
        campaign_id: 1
        rate: 1.11
    demand_tag_bidder_create_simple_2:
      summary: Bidder Simple
      value:
        name: Demand Tag Name
        demand_class: 3
        demand_partner_id: 1
        bid_platform: magnite
        bid_floor_type: static
        rate: 1.11
    demand_tag_bidder_create_full_2:
      summary: Bidder Full
      value:
        name: Demand Tag Name
        demand_class: 3
        demand_partner_id: 1
        player_sizes:
        - s
        - m
        - l
        format: video
        environment: desktop
        bid_platform: magnite
        bid_params:
          seat_id: '1'
        bid_floor_type: static
        bid_margin: 1.11
        allow_tier_breakout: false
        breakout_bid: 1.11
        override_supply_floor: false
        partner_tier_override_enabled: true
        partner_tier_override: '1'
        multi_call_enabled: false
        multi_call_maximum: 1
        domain_targeting: Allowlist
        domain_list_ids:
        - 1
        country_targeting: Include
        country_source: list
        country_list_ids:
        - 1
        key_value_targeting: true
        segment_targeting_enabled: true
        competitive_exclusions_enabled: true
        competitive_exclusion_iab_source: list
        competitive_exclusion_iab_category_list_ids:
        - 1
        demand_label_ids:
        - 1
        rate: 1.11
        rate_currency: USD
        budget_timezone: America/New_York
        pre_bid_blocking_enabled: true
        post_imp_detection_enabled: true
        realtime_viewability: true
        daa_ad_choices: true
        device_id_required: true
        is_active: true
        note: Demand Tag note
    demand_tag_direct_io_line_item_create_simple:
      summary: Direct IO Line Item Simple
      value:
        name: Demand Tag Name
        demand_class: 14
        demand_partner_id: 1
        campaign_id: 1
        direct_io_supply_partner_id: 1
        rate: 1.11
  schemas:
    DemandTagResponse:
      type: object
      description: Demand Tag schema based on DemandTagSerializer for V1 API
      allOf:
      - $ref: ref/concerns/advertiser_domain_list.yaml#/components/schemas/AdvertiserDomainList
      - $ref: ref/concerns/app_bundle_list.yaml#/components/schemas/AppBundleList
      - $ref: ref/concerns/app_name_list.yaml#/components/schemas/AppNameList
      - $ref: ref/concerns/aspect_ratios.yaml#/components/schemas/AspectRatios
      - $ref: ref/concerns/city_codes.yaml#/components/schemas/CityCodes
      - $ref: ref/concerns/country_codes.yaml#/components/schemas/CountryCodes
      - $ref: ref/concerns/demand_key_value.yaml#/components/schemas/DemandKeyValue
      - $ref: ref/concerns/domain_list.yaml#/components/schemas/DomainList
      - $ref: ref/concerns/environment.yaml#/components/schemas/Environment
      - $ref: ref/concerns/flight_dates.yaml#/components/schemas/FlightDates
      - $ref: ref/concerns/format.yaml#/components/schemas/Format
      - $ref: ref/concerns/frequency_caps.yaml#/components/schemas/FrequencyCaps
      - $ref: ref/concerns/ip_list.yaml#/components/schemas/IpList
      - $ref: ref/concerns/metro_area_codes.yaml#/components/schemas/MetroAreaCodes
      - $ref: ref/concerns/player_sizes.yaml#/components/schemas/PlayerSizes
      - $ref: ref/concerns/postal_codes.yaml#/components/schemas/PostalCodes
      - $ref: ref/concerns/privacy_targeting.yaml#/components/schemas/PrivacyTargeting
      - $ref: ref/concerns/segment_groups.yaml#/components/schemas/SegmentGroups
      - $ref: ref/concerns/state_codes.yaml#/components/schemas/StateCodes
      - $ref: ref/concerns/tag_pixels.yaml#/components/schemas/TagPixels
      - $ref: ref/concerns/targeted_macro.yaml#/components/schemas/TargetedMacro
      - $ref: ref/concerns/timestamps.yaml#/components/schemas/Timestamps
      - $ref: ref/concerns/user_agent.yaml#/components/schemas/UserAgent
      - type: object
        properties:
          id:
            type: integer
            format: int64
          account_id:
            type: integer
            format: int64
          name:
            type: string
          is_active:
            type: boolean
          is_new:
            type: boolean
            description: Whether the demand tag is in the "new" state (legacy index parity).
          note:
            type:
            - string
            - 'null'
          rate:
            type: string
          player_size_targeting:
            type: string
          direct_connect:
            type: boolean
          media_file_mime_type_targeting:
            type: boolean
          media_file_mime_types:
            type: array
            items:
              type: string
          blocking_unknown_media_file_mime_type:
            type: boolean
          media_file_duration_targeting:
            type: boolean
          media_file_min_duration:
            type:
            - string
            - 'null'
          media_file_max_duration:
            type:
            - string
            - 'null'
          blocking_unknown_media_file_duration:
            type: boolean
          media_file_bit_rate_targeting:
            type: boolean
          media_file_min_bit_rate:
            type:
            - string
            - 'null'
          media_file_max_bit_rate:
            type:
            - string
            - 'null'
          blocking_unknown_media_file_bit_rate:
            type: boolean
          targeted_macros_enabled:
            type: boolean
          blocking_unknown_media_containers:
            type: boolean
          media_file_media_container_targeting:
            type: boolean
          media_file_media_containers:
            type: array
            items:
              type: string
          media_file_audio_volume_targeting:
            type: boolean
          media_file_audio_volume_mean:
            type:
            - string
            - 'null'
          blocking_unknown_media_file_audio_volume:
            type: boolean
          blocking_vast_containing_companion_ads:
            type: boolean
          removing_companion_ads_from_vast:
            type: boolean
          creative_political_ads:
            type: array
            items:
              type: string
          type:
            type:
            - string
            - 'null'
          blocking_stitched_creatives:
            type: boolean
          budget_timezone:
            type: string
          creative_language_allow_list:
            $ref: ref/types.yaml#/components/schemas/BooleanOrEmptyString
          creative_language_codes:
            type: array
            items:
              type: string
          creative_language_block_unknown:
            type: boolean
          allow_tier_breakout:
            type: boolean
          override_supply_floor:
            type: boolean
          audited_creative_statuses:
            type: array
            items:
              type: string
          bid_floor_type:
            type: string
          bid_margin:
            type:
            - string
            - 'null'
          bid_optional_params:
            type:
            - object
            - 'null'
          bid_params:
            type:
            - object
            - 'null'
          bid_platform:
            type:
            - string
            - 'null'
          bidder_type:
            type:
            - string
            - 'null'
          booked_revenue:
            type:
            - string
            - 'null'
          breakout_bid:
            type:
            - string
            - 'null'
          bulk_add_enabled:
            type: boolean
          bypass_private_auction_flag_enabled:
            type: boolean
          campaign_id:
            type: integer
            format: int64
          campaign_tier:
            type: integer
            format: int32
          tier_name:
            type:
            - string
            - 'null'
            description: Display label for campaign_tier when campaign demand tiering is enabled (e.g. "Tier 2"); null otherwise.
          competitive_exclusion_iab_source:
            type: string
          competitive_exclusion_iab_tier2_source:
            type: string
          competitive_exclusions_enabled:
            type: boolean
          competitive_exclusions_tier2_enabled:
            type: boolean
          cost_model_type:
            type: integer
            format: int32
          creative_allow_objectionable:
            type: boolean
          creative_brandsafe_override:
            type: boolean
          creative_id:
            type:
            - string
            - 'null'
          line_item_creatives_count:
            type: integer
            description: Number of active creatives linked via line item ratios.
          supply_tags_count:
            type: integer
            description: Number of active supply tags linked through non-deleted demand tag priorities
          ad_server:
            type: string
            readOnly: true
            description: Computed ad server label (SpringServe, matched vendor name, Other, bid platform, or empty).
          creative_landing_page_url:
            type:
            - string
            - 'null'
          curator_fee_currency:
            type:
            - string
            - 'null'
          curator_fee_type:
            type:
            - string
            - 'null'
          auction_type:
            type:
            - string
            - 'null'
            enum:
            - first price
            - fixed price
          daa_ad_choices:
            type: boolean
          day_parting_users_timezone:
            type: boolean
          day_parting:
            type: array
            items:
              type: object
          deal_id:
            type:
            - string
            - 'null'
          demand_class:
            type: integer
            format: int32
          demand_code:
            type:
            - string
            - 'null'
          demand_forecast_id:
            type:
            - integer
            - 'null'
            format: int64
          demand_partner_id:
            type: integer
            format: int64
          device_id_required:
            type: boolean
          euro_daa_ad_choices:
            type: boolean
          floor_rate:
            type:
            - string
            - 'null'
          guaranteed_delivery:
            type: boolean
          guaranteed_tier:
            type:
            - string
            - 'null'
          is_reserved:
            type: boolean
          isp_source:
            type: string
          isp_white_list:
            $ref: ref/types.yaml#/components/schemas/BooleanOrEmptyString
          key_value_targeting:
            type: boolean
          multi_call_enabled:
            type: boolean
          multi_call_maximum:
            type: integer
            format: int32
          partner_tier_override_enabled:
            type: boolean
          partner_tier_override:
            type:
            - string
            - 'null'
          post_imp_detection_enabled:
            type: boolean
          post_imp_percentage_forensiq:
            type: integer
            format: int32
          post_imp_percentage_ias:
            type: integer
            format: int32
          post_imp_percentage_moat:
            type: integer
            format: int32
          post_imp_percentage_protected:
            type: integer
            format: int32
          post_imp_percentage_whiteops:
            type: integer
            format: int32
          pre_bid_blocking_components:
            type: array
            items:
              type: string
          pre_bid_blocking_enabled:
            type: boolean
          price_extension_enabled:
            type: boolean
          realtime_viewability:
            type: boolean
          respect_external_tier:
            type: array
            items:
              type: string
          respect_pod_order:
            type: boolean
          secondary_code:
            type:
            - string
            - 'null'
          share_of_voice_goal_percent:
            type:
            - string
            - 'null'
          skip_enabled:
            type: boolean
          skip_offset:
            type:
            - integer
            - 'null'
          iris_visibility_enabled:
            type: boolean
          share_eids_enabled:
            type: boolean
          suppress_xff_ip:
            type: boolean
          targeting_demand_ids:
            type: array
            items:
              type: integer
          targeting_demand_white_list:
            $ref: ref/types.yaml#/components/schemas/BooleanOrEmptyString
          timeout:
            type: integer
            format: int32
          vast_endpoint_url:
            type:
            - string
            - 'null'
          demand_label_ids:
            type: array
            items:
              type: integer
          demand_labels:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          isp_names:
            type: array
            items:
              type: string
          isp_names_meta:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          isp_list_ids:
            type: array
            items:
              type: integer
          advertiser_domain_lists:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          competitive_exclusion_advertiser_domain_list_ids:
            type: array
            items:
              type: integer
          competitive_exclusion_advertiser_domain_lists:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalActiveObject
          competitive_exclusion_iab_category_codes:
            type: array
            items:
              type: string
          competitive_exclusion_iab_categories:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          competitive_exclusion_iab_category_list_ids:
            type: array
            items:
              type: integer
          competitive_exclusion_iab_category_lists:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalActiveObject
          competitive_exclusion_iab_tier2_category_codes:
            type: array
            items:
              type: string
          competitive_exclusion_iab_tier2_categories:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          competitive_exclusion_iab_tier2_category_list_ids:
            type: array
            items:
              type: integer
          competitive_exclusion_iab_tier2_category_lists:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalActiveObject
          targeted_iab_categories:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          targeted_iab_tier2_categories:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          iab_category_tier1_lists:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          iab_category_tier2_lists:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          isp_lists:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalObject
          bid_shading:
            type: boolean
          min_bid_price:
            type:
            - string
            - 'null'
          use_deal_floor:
            type: boolean
          max_bid_price:
            type:
            - string
            - 'null'
          bid_modifier_ids:
            type: array
            items:
              type: integer
          bid_modifiers:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalActiveObject
          delivery_modifier_ids:
            type: array
            items:
              type: integer
          delivery_modifiers:
            type: array
            items:
              $ref: ref/types.yaml#/components/schemas/MinimalActiveObject
          bid_modifier_multiplier_interaction:
            type:
            - string
            - 'null'
          delivery_modifier_multiplier_interaction:
            type:
            - string
            - 'null'
          rate_currency:
            type: string
          floor_rate_currency:
            type:
            - string
            - 'null'
          coco_enabled:
            type: boolean
          forward_deal_ids_enabled:
            type: boolean
          buying_model:
            type: string
          mediaocean_prisma_enabled:
            type: boolean
          mediaocean_prisma_order_id:
            type: string
          mediaocean_prisma_campaign_id:
            type: string
          mediaocean_prisma_placement_id:
            type: string
          mediaocean_prisma_campaign_link:
            type:
            - string
            - 'null'
          quickstats:
            $ref: ref/quickstats.yaml#/components/schemas/QuickstatsMetrics
            description: Quickstats metrics (included when additional_data includes quickstats)
            type:
            - 'null'
          goal_targetings:
            type: array
            items:
              type: object
          macro_overrides:
            type: array
            items:
              type: object
          custom_vast_extensions:
            type: array
            items:
              type: object
          budgets:
            type: array
            items:
              $ref: ref/concerns/budget.yaml#/components/schemas/Budget
          supply_tag_assignments:
            type: array
            items:
              type: object
          line_item_ratios:
            type: array
            items:
              type: object
          inventory_groups:
            type: array
            items:
              type: object
          budget_caps:
            type: array
            items:
              type: object
          budget_allocations:
            type: array
            items:
              type: object
          non_billable_fees:
            type: array
            items:
              type: object
          marketplace_buyers:
            type: array
            items:
              type: object
          curator_fees:
            type: array
            items:
              type: object
          demand_tag_priorities:
            type: array
            items:
              $ref: '#/components/schemas/DemandTagPriority'
          demand_tag_keys:
            type: array
            items:
              $ref: ref/concerns/demand_key_value.yaml#/components/schemas/DemandTagKey
          campaign:
            $ref: ref/types.yaml#/components/schemas/MinimalObject
          creative:
            $ref: ref/types.yaml#/components/schemas/MinimalObject
            description: Minimal (id, name) representation of the associated creative. Only included when `include=creative` is passed; emitted as `null` when `creative_id` is null.
          demand_partner:
            type: object
          spring_serve_deal_id:
            type:
            - integer
            - 'null'
            description: SpringServe deal foreign key (only populated for OpenRTB demand tags).
          spring_serve_deal:
            $ref: ref/types.yaml#/components/schemas/MinimalObject
            description: Minimal (id, name) representation of the associated SpringServe deal. Only included when `include=spring_serve_deal` is passed; emitted as `null` when `spring_serve_deal_id` is null.
          audience_unite_id:
            type:
            - string
            - 'null'
            examples:
            - 12:609
          rtd_signals:
            type: array
            description: Only available for curator accounts. All values must be positive integers.
            items:
              type: integer
          budget_data:
            type: array
            items:
              $ref: ref/concerns/budget.yaml#/components/schemas/BudgetReportData
    DemandTagCreateRequest:
      type: object
      properties:
        name:
          type: string
        active:
          type: boolean
        demand_class:
          type: integer
        demand_partner_id:
          type: integer
        rate:
          type: number
        demand_tag_priorities:
          type: array
          items:
            type: object
            properties:
              supply_tag_id:
                type: integer
        curator_fee_type:
          type: string
        spring_serve_deal_id:
          type:
          - integer
          - 'null'
          description: SpringServe deal foreign key (only persisted for OpenRTB demand tags).
        auction_type:
          type: string
          enum:
          - first price
          - fixed price
    DemandTagIndexResponse:
      allOf:
      - $ref: ref/params.yaml#/components/schemas/ParamsResponse
      - type: object
        properties:
          results:
            type: array
            items:
              allOf:
              - $ref: '#/components/schemas/DemandTagResponse'
    MacroSuggesterRequest:
      type: object
      properties:
        vast_endpoint_url:
          type: string
          description: VAST endpoint URL entered on the demand tag form
        ad_server_id:
          type: integer
          nullable: true
          description: Selected AdServer id from search; optional if detectable from URL
        environment:
          type: string
          description: Demand tag environment for macro suggestions
          enum:
          - ''
          - desktop
          - mobile_web
          - in_app
          - ctv
        include_all:
          type: boolean
          description: Include all environment macros (tag creative forms)
    MacroSuggesterResponse:
      type: object
      properties:
        vast_endpoint_url:
          type: string
          nullable: true
        ad_server_id:
          type: integer
          nullable: true
    DemandTagPriority:
      type: object
      description: Supply tag priority assignment for a demand tag
      properties:
        supply_tag_id:
          type: integer
          format: int64
        priority:
          type: integer
        tier:
          type: integer
        ratio:
          type:
          - integer
          - 'null'
        slot_number:
          type:
          - integer
          - 'null'
        slot_order:
          type:
          - string
          - 'null'
  parameters:
    additionalDataParam:
      name: additional_data
      description: "Include additional data from non-model sources in the response. \nSupported values: 'quickstats', 'budget_data'. \nMultiple values can be specified as comma-separated (e.g., 'quickstats,budget_data').\n"
      in: query
      schema:
        type: string
      example: quickstats
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
      description: SpringServe authorization token based authentication.
    bearer_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: SpringServe authorization bearer token based authentication.  This key is included in the response from the /api/v0/auth and /api/v1/auth endpoints.  This key will be automatically set if you run the example for /api/v0/auth or /api/v1/auth
x-refined-from:
- rubicon-project-springserve-v0-openapi.yml
- rubicon-project-springserve-v1-openapi.yml
x-servers-added-by: https://apievangelist.com — not present in the upstream document; see openapi/_original/ for the verbatim spec.
